.security-verify-password {
  font-size: var(--font-size-14);
  color: var(--color-text-100);
  line-height: 1.3125rem;
  font-weight: var(--font-weight-medium);
}

.security-verify-tips {
  color: var(--color-text-40);
  font-size: var(--font-size-10);
  line-height: .9375rem;
}
