ion-content.common-ion-content {
  --background: var(--ep-color-background-fill-body-default);
}

.security-verify-password {
  font-size: var(--ep-font-size-m);
  color: var(--ep-color-text-default);
  line-height: 1.3125rem;
  font-weight: var(--ep-font-weight-medium);
}

.security-verify-tips {
  color: var(--ep-color-text-weaker);
  font-size: var(--ep-font-size-xs);
  line-height: .9375rem;
}
