ion-content.content-style1 {
  --background: #213b10;
}

ion-content.content-style2 {
  --background: #262346;
}

.cpf-select-date {
  padding: 1.25rem .75rem 1.5rem;
  .select-box,
  .select-box-style2 {
    border-radius: .5rem;
  }

  .select-box,
  .selected-box {
    background: #274116;
    border: 1px solid #7E9071;
    color: #AFC69F;
  }

  .select-box-style2,
  .selected-box2 {
    background: #3B3466;
    border: 1px solid #686299;
    color: #ABA7CC;
  }

  .selected-box {
    border: 1px solid #AFC69F;
  }

  .selected-box2 {
    border: 1px solid #BDB8E1;
  }
}

.report-select-row,
.report-select-row-style2 {
  padding: 0.375rem 0.625rem;
  font-size: 0.75rem;
  background: #213b10;
  .select-col {
   p {
     height: 2.5rem;
     border: 1px solid #34571d;
     border-radius: 0.375rem;
     color: #7e9071;
   }
   .selected-col {
    background: linear-gradient(180deg, #13c96a 0%, #1d9554 100%);
    color: #fff;
    border: none;
   }
  }
}

.report-select-row-style2 {
  background: #2c294d;
  .select-col {
    p {
      border: 1px solid #686299;
      color: #686299;
    }
    .selected-col {
      background: linear-gradient(270deg, #7041F3 0%, #F5C84C 130.92%);
      color: #FFF;
    }
  }
}

ion-popover {
  --backdrop-opacity: 0;
}

ion-popover ion-button {
  margin-top: 0;
  margin-bottom: 0;
}

ion-popover ion-button::part(native) {
  --padding-start: 0.375rem;
  --padding-end: 0.375rem;
  --padding-top: 0;
  --padding-bottom: 0;
}

ion-popover ion-row ion-col p.off {
  border-width: 0.0625rem;
}

ion-col.select-col {
  line-height: 0.75rem;
  padding: 0 0.3125rem 0.3125rem 0;
}

ion-col.select-col:nth-child(4),
ion-col.select-col:nth-child(4n) {
  padding: 0 0 0.3125rem 0;
}

.select-time-tips,
.select-time-tips-style2 {
  font-size: .75rem;
  line-height: 1.25rem;
  color: #7E9071;
}

.select-time-tips-style2 {
  color: #686299;
}

.invite-cpf-table,
.invite-cpf-table-style2 {
  padding: 0 .75rem 1.75rem;
  .table-title {
    color: #AFC69F;
    --background: #2B4F14;
    border-top-left-radius: .375rem;
    border-top-right-radius: .375rem;
  }

  .table-list {
    color: #AFC69F;
    .list-item-money {
      color: #FBED3C;
    }
  }

  ion-item.table-list:nth-child(odd) {
    --background: #213b10; 
  }

  ion-item.table-list:nth-child(even) {
    --background: #2b4f14;
  }
}

.invite-cpf-table-style2 {
  .table-title {
    --background: #2C294D;
    color: #ABA7CC;
  }

  .table-list {
    color: #ABA7CC;
    .list-item-money {
      color: #E4AE55;
    }
  }

  ion-item.table-list:nth-child(odd) {
    --background: #262346; 
  }

  ion-item.table-list:nth-child(even) {
    --background: #3b3466;
  }
}

.invite-cpf-empty {
  width: 13.5rem;
  height: 12.5rem;
}

.empty-tips,
.empty-tips-style2 {
  font-size: .875rem;
  line-height: 1.3125rem;
  color: rgba(255,255,255,0.4);
}

ion-infinite-scroll-content.infinite-content-style1,
ion-infinite-scroll-content.infinite-content-style2 {
  min-height: .625rem;
  font-size: var(--font-size-12);
  color: #7E9071;
}

ion-infinite-scroll-content.infinite-content-style2,
.empty-tips-style2 {
  color: #ABA7CC;
}

ion-icon.on {
  transform: rotate(180deg);
}

ion-icon.report-select-icon {
  width: 1rem;
  height: 1rem;
}
