ion-select {
  --padding-start: 0;
  --padding-end: 0;
  --border-width: 1px;
  min-height: 1.625rem;
}

ion-infinite-scroll { /* 设置触底加载更多样式 */
  min-height: 70px;
}

ion-infinite-scroll-content { /* 设置触底加载更多样式 */
  min-height: 10px;
}

ion-icon {
  transition: transform .1s linear;
}

ion-icon.on {
  transform: rotate(180deg);
}

.empty-height {
	height: calc(100% - 2.875rem);
}

ion-popover {
  --backdrop-opacity: 0;
}
