.recharge-activity-title {
  font-size: var(--ep-font-size-l);
  line-height: 1.5rem;
  font-weight: var(--ep-font-weight-bold);
  color: var(--ep-color-text-default);
}

.recharge-activity-table-box {
  border-radius: var(--ep-border-radius-m);
  border: 1px solid var(--ep-color-border-default)
}

.recharge-available-tips {
  font-size: var(--ep-font-size-m);
  line-height: 1.3125rem;
  color: var(--ep-color-text-default);
  span {
    color: var(--ep-color-text-warning);
  }
}

.illustrate{
  width: 22.5rem;
  margin: 0.875rem auto 7rem !important;
  border-radius: var(--ep-border-radius-m);
  background: var(--ep-color-background-fill-surface-raised-L1);
  color: var(--ep-color-text-weaker);
  padding: .625rem ;
  line-height: 1.25rem;
  box-sizing: border-box;
  font-size: var(--ep-font-size-s);
}

ion-toolbar {
  --min-height: 3.125rem;
}

ion-title {
  font-size: var(--ep-values-20);
}

table {
  font-size: var(--ep-font-size-s);
  line-height: 1.125rem;
  border-collapse: collapse;
  background-color: transparent;
}

table th,
table td {
  border: 1px solid var(--ep-color-border-default);
  font-weight: var(--ep-font-weight-bold);
  color: var(--ep-color-text-warning);
  width: 50%;
  text-align: center;
  border-right: none;
}

table thead th {
  color: var(--ep-color-text-weaker);
  height: 2.5rem;
  font-weight: var(--ep-font-weight-bold);
  font-size: var(--ep-font-size-s);
  background-color: var(--ep-color-background-fill-surface-raised-L2);
}

table tbody td:first-child {
  color: var(--ep-color-text-default);
}

table tbody td:last-child {
  color: var(--ep-color-text-warning);
}

table.table th {
  line-height: 2.25rem;
  width: 12.5%;
}

table.table td {
  line-height: 1.875rem;
  width: 12.5%;
}

table th:first-child,
table td:first-child {
  border-left: none;
}

table th:last-child,
table td:last-child {
  border-right: none;
}

table thead tr:first-child th,
table thead tr:first-child td {
  border-top: none;
}

table tt:last-child th,
table tr:last-child td {
  border-bottom: none;
}
