#activity-rebate-default-record {
  .style(
    @rebate-default-record-01: --color-bg-300,
    @rebate-default-record-02: --color-bg-200,
    @rebate-default-record-03: --color-bg-200,
    @rebate-default-record-04: --theme-color-gradient-100,
    @rebate-default-record-05: --color-text-white-100,
    @rebate-default-record-06: --color-text-white-100,
    @rebate-default-record-07: --color-text-gray-200,
    @rebate-default-record-08: --color-text-white-100,
    @rebate-default-record-09: --color-text-white-100,
    @rebate-default-record-10: --color-text-gray-200,
    @rebate-default-record-11: --color-text-gray-200,
    @rebate-default-record-12: --color-border-600,
    @rebate-default-record-13: --color-text-white-100,
    @rebate-default-record-14: --color-text-white-100,
    @rebate-default-record-15: --color-text-gray-200,
    @rebate-default-record-16: --color-text-white-100,
  ) {
    ion-item {
      --background: var(@rebate-default-record-01) ;
    }
    ion-item.odd {
      --background: var(@rebate-default-record-02) ;
    }
    
    ion-popover {
      --backdrop-opacity: 0;
      --background: var(@rebate-default-record-03);
    }
    
    ion-popover ion-row ion-col p.on {
      background: var(@rebate-default-record-04);
      color: var(@rebate-default-record-05);
    }
    
    .rebate-record-select {
      color: var(@rebate-default-record-06);
      border: 1px solid var(@rebate-default-record-07);
    }
    
    .rebate-record-selected {
      color: var(@rebate-default-record-08);
      border: 1px solid var(@rebate-default-record-09);
    }
    
    .record-select-icon {
      color: var(@rebate-default-record-10);
    }
    
    .record-select-p {
      color: var(@rebate-default-record-11);
      border: 1px solid var(@rebate-default-record-12);
    }
    
    .record-agent34 {
      color: var(@rebate-default-record-13);
    }
    
    .record-rebate-ratio {
      color: var(@rebate-default-record-14);
    }
    
    .record-empty-text {
      color: var(@rebate-default-record-15);
    }
    
    .record-list-text-color {
      color: var(@rebate-default-record-16);
    }
  }
}
