ion-content .banner {
	width: 100%;
	height: 12.3125rem;
	position: relative;
	background: url('/svg/activity/appreciation_bg.png') no-repeat;
	background-size: cover;
}

.banner .timeBoard {
	width: 8.9375rem;
	height: 2.5rem;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -80%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url('/svg/activity/appreciation_board.svg') no-repeat;
	background-size: cover;
}
