#activity-appreciation-default-index {
  .style(
    @appreciation-default-index-01: --color-text-basic,
    @appreciation-default-index-02: --color-text-emphasis,
    @appreciation-default-index-03: --color-text-second,
    @appreciation-default-index-04: --color-bg-second,
    @appreciation-default-index-05: --color-text-emphasis,
    @appreciation-default-index-06: --color-text-basic,
    @appreciation-default-index-07: --color-text-emphasis ,
    @appreciation-default-index-08: --color-text-second,
    @appreciation-default-index-09: --color-bg-second,

  ) {
    .textBasic {
      color: var(@appreciation-default-index-01);
    }
    
    .textEmphasis {
      color: var(@appreciation-default-index-02);
    }
    
    .textSecond {
      color: var(@appreciation-default-index-03);
    }
    
    .bgSecond {
      background: var(@appreciation-default-index-04);
    }

    .textTime {
       color: var(@appreciation-default-index-05);
    }

    .title-text {
      color: var(@appreciation-default-index-06);
    }

    .textReward {
      color: var(@appreciation-default-index-07);
    }

    .textRule {
      color: var(@appreciation-default-index-08);
    }
    .des .item {
      background-color: var(@appreciation-default-index-09);
    }
  }
}
