html {
  #tabbar-tabs-inicio-components-GameWrapper-components-wrapperHead-components-center-4-index.layout();
}




#tabbar-tabs-inicio-components-GameWrapper-components-wrapperHead-components-center-4-index {
  .layout(
    @text-color1: var(--ep-color-text-inverse);
    @bg: var(--ep-color-icon-brand-secondary, #66BA20);
  ) {
    .total {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.375rem;
      padding: 0.0625rem 0.625rem;
      border-radius: var(--ep-border-radius-infinity, 9999px);
      background: @bg;

      .label {
        font-size: var(--ep-font-size-s, 0.75rem);
        font-weight: var(--ep-font-weight-medium, 600);
        color: @text-color1;
      }

      .number {
        font-size: var(--ep-font-size-s, 0.75rem);
        font-weight: var(--ep-font-weight-medium, 600);
        border-radius: var(--ep-border-radius-infinity, 0.625rem);
        color: @text-color1;
      }
    }
  }
}
