.card{
  padding-bottom: .625rem;
}

ion-item {
  --background: transparent;
  --padding-bottom: 0px;
  --padding-end: 10px;
  --padding-start: 0;
  --padding-top: 0;
  --inner-padding-end: 0;
}

ion-item::part(detail-icon) {
  color: #0088ff;
  font-size: .875rem;
  margin-right: 5px;
}

ion-label, h6 {
  font-size: .875rem !important;
  text-align: center;
}

h6 {
  margin-bottom: 5px;
}
