.middle-text-white {
  font-size: var(--ep-font-size-m);
  color: var(--ep-color-text-default);
  line-height: 1.3125rem;
}

ion-toolbar.agent-info {
  font-size: var(--ep-font-size-m);
  line-height: 1.3125rem;
  --ion-toolbar-background: var(--ep-color-background-fill-surface-raised-L1);
  border-radius: var(--ep-border-radius-m);
}

.spread-user-info-weaker {
  color: var(--ep-color-text-weaker);
}

.exclusive-link {
  font-size: var(--ep-font-size-s);
  color: var(--ep-color-text-default);
}

.spread-user-share-icon {
  font-size: var(--ep-font-size-xl);
  line-height: 1.75rem;
  color: var(--ep-color-text-default);
}

.spread-user-info-default-text {
  color: var(--ep-color-text-default);
}

.spread-info-amount-text {
  font-size: var(--ep-font-size-s);
  line-height: 1.125rem;
  color: var(--ep-color-text-warning);
}

.spread-user-agent-type {
  background: var(--ep-color-background-fill-surface-raised-L1);
  border-radius: var(--ep-border-radius-m);
}

.referral-tips {
  color: var(--ep-color-text-default);
  font-weight: var(--ep-font-weight-medium);
  border-bottom: 1px solid var(--ep-color-border-default);
}

.spread-qr-box {
  border-radius: var(--ep-border-radius-s);
  background: var(--ep-neutral-white-white-100);
}

.spread-save-qr-btn {
  font-size: var(--ep-font-size-xs);
  background: var(--ep-color-icon-info);
  color: var(--ep-color-text-highlight-white);
}

ion-list ion-item ion-label.item-title {
  color: var(--ep-color-text-default);
  font-size: var(--ep-font-size-m);
  font-weight: var(--ep-font-weight-medium);
}

.spread-user-item-tips {
  color: var(--ep-color-text-weaker) !important;
}

ion-note.spread-user-item-amount {
  font-size: var(--ep-font-size-s);
  line-height: 1.125rem;
  --color: var(--ep-color-text-warning);
}

ion-note.spread-user-item-more {
  font-size: var(--ep-font-size-s);
  line-height: 1.125rem;
  --color: var(--ep-color-text-info);
}

.spread-user-text-80 {
  font-size: var(--ep-font-size-s);
  line-height: 1.125rem;
  color: var(--ep-color-text-default);
}

.card {
  background: var(--ep-color-background-fill-surface-raised-L1);
}

.receive-rule {
  border-bottom: 1px solid var(--ep-color-background-fill-surface-raised-L1);
  .text {
    .hint {
      color: var(--ep-color-text-weaker);
    }
  }
}

ion-item {
  --border-color: var(--ep-color-background-fill-surface-raised-L1);
}

ion-item::part(detail-icon) {
  opacity: 1;
  color: var(--ep-color-icon-info);
}

ion-segment-button.ios {
  --border-radius: var(--ep-border-radius-m);
  --color: var(--ep-color-background-fill-surface-raised-L2);
}

ion-button {
  font-weight: var(--ep-font-weight-bold);
  --border-radius: var(--ep-border-radius-s);
}

ion-button.claim::part(native) {
  color: var(--ep-color-text-default);
  background: var(--ep-dynamic-primary);
  --background-activated: var(--ep-dynamic-primary);
  --background-focused: var(--ep-dynamic-primary);
  --background-hover: var(--ep-dynamic-primary);
}

ion-button.on::part(native) {
  background: var(--ep-color-background-fill-active-disabled);
  color: var(--ep-color-text-inverse-disabled);
}

ion-button.history::part(native) {
  color: var(--ep-color-text-default);
  background: var(--ep-color-background-fill-surface-raised-L2);
}

.agent-share-box {
  border-radius: var(--ep-border-radius-m);
  border: 1px solid var(--ep-color-border-default);
}

.spread-user-share-link {
  color: var(--ep-color-text-info);
}

ion-button.shiny::before {
  background: var(--ep-color-text-highlight-white);
}
