.tutorial-detail {
	border-radius: 0.28rem;
	font-size: 0.6rem;
	border: 1px solid var(--ep-color-border-default);
	color: var(--ep-color-text-weaker);
}

.tutorial-detail h1 {
	font-size: 0.7rem;
}

.spread-agent-explanation-border {
	border: .0625rem solid var(--ep-color-border-default);
}

.spread-agent-explanation-text-100 {
	color: var(--ep-color-text-default);
}

.spread-agent-explanation-text-amount {
	color: var(--ep-color-text-warning);
}

.spread-agent-explanation-info {
	font-size: 0.625rem;
	border-radius: 0.625rem;
}
