.spread-commission-info {
  background: var(--ep-color-background-fill-body-default);  
}

#popover-trigger p.on {
  border-bottom: 1px solid var(--ep-primary-primary-800);
}

.spread-select-item {
  font-size: var(--ep-font-size-s);
  line-height: 1.125rem;
  color: var(--ep-color-text-default);
  border-radius: var(--ep-border-radius-m) var(--ep-border-radius-m) 0 0;
  background: var(--ep-color-background-fill-surface-raised-L1);
}

.spread-date-select {
  border-radius: 0.25rem;
  background: var(--ep-color-background-fill-body-default);
  ion-icon {
    font-size: var(--ep-font-size-m);
    color: var(--ep-color-icon-default);
  }
}

ion-item.table-title-bg {
  --background: var(--ep-color-background-fill-surface-raised-L2);
  border-radius: var(--ep-border-radius-m) var(--ep-border-radius-m) 0 0;
}

ion-item.table-item-bg:nth-child(even) {
  --background: var(--ep-color-background-fill-surface-lowered);
}

ion-item ion-grid ion-row.spread-table-item {
  font-size: var(--ep-font-size-s);
  line-height: 1.125rem;
  color: var(--ep-color-text-weaker) !important;
}

ion-select {
  --background: var(--ep-color-background-fill-body-default);		/* 背景颜色 */
  --border-radius: var(--ep-border-radius-s);	/* 圆角 */
  color: var(--ep-color-text-default);
  font-size: var(--ep-font-size-s);
}

ion-datetime {
  --background: var(--ep-color-background-fill-surface-raised-L2);
  color: var(--ep-color-text-weak);
  --wheel-highlight-background: var(--ep-color-background-fill-active-primary);
}

ion-datetime::part(calendar-day active) {
  color: var(--ep-color-text-inverse);
  background: var(--ep-color-background-fill-active-primary);
}

ion-datetime::part(month-year-button) {
  --color: var(--ep-color-background-fill-active-primary);
}

ion-icon.commission-modal-back {
  color: var(--ep-color-icon-default);
}

.commission-modal-detail-conten {
  background: var(--ep-color-background-fill-body-default);
}

.commission-modal-detail-segment {
  color: var(--ep-color-background-fill-surface-lowered);
}

ion-segment-button.md::part(indicator-background) { /* 设置导航标签指示器的宽度 */
  background: var(--ep-color-border-selected);
}

ion-button.base-style {
  --color: var(--ep-color-text-weaker);
  font-size: var(--ep-font-size-m);
}

ion-button.select-style {
  font-weight: var(--ep-font-weight-bold);
  --color: var(--ep-color-text-selected);
}

.sparead-table-title {
  font-weight: var(--ep-font-weight-bold);
  font-size: var(--ep-font-size-s);
  line-height: 1.125rem;
  color: var(--ep-color-text-weaker) !important;
}

.spread-commission-amount {
  color: var(--ep-color-text-warning);
}

.spread-table-item-search {
  font-size: var(--ep-font-size-s);
  line-height: 1.125rem;
  color: var(--ep-color-icon-default);
}

.spread-table-item-light {
  color: var(--ep-color-text-weak);
}
