ion-content {
    --padding-start: var(--ion-padding, 1rem);
    --padding-end: var(--ion-padding, 1rem);
    --padding-top: var(--ion-padding, 1rem);
    --padding-bottom: var(--ion-padding, 1rem);
    padding-inline-start: var(--ion-padding, 1rem);
    padding-inline-end: var(--ion-padding, 1rem);
    padding-top: var(--ion-padding, 1rem);
    padding-bottom: var(--ion-padding, 1rem);
    p.header {
        font-size: 0.875rem;
    }
    h6.top {
        font-size: 0.75rem;
        line-height: 1rem;
    }
    h6.middle {
        font-size: 0.75rem;
        line-height: 1rem;
    }
    h6.bottom {
        font-size: 0.625rem;
        margin-bottom: 1.75rem; 
    }
}
ion-button.confirm {
  --color: #FFF;
  --border-radius: .625rem;
  text-transform: none;	/* 取消按钮文本自动大写 */
  margin-left: 3rem;
  margin-right: 3rem;
  min-height: 2.5rem;
  ion-spinner {
      z-index: 10;
      width: 1.25rem;
      height: 1.25rem;
  }
}
