#activity-piece-default-index {
  .style(
    @piece-default-index-01: --color-text-white-100,
    @piece-default-index-02: --color-text-white-100,
    @piece-default-index-03: --color-text-gray-200,
    @piece-default-index-04: --color-text-white-100,
    @piece-default-index-05: --color-bg-200,
    @piece-default-index-06: --color-text-white-100,
    @piece-default-index-07: --color-text-gray-600,
    @piece-default-index-08: --color-text-gray-200,
    @piece-default-index-09: --color-text-gray-200,
    @piece-default-index-10: --color-text-gray-500,
    @piece-default-index-11: --color-bg-200,
    @piece-default-index-12: --color-bg-300,
    @piece-default-index-13: --color-bg-100,
    @piece-default-index-14: --color-text-white-100,
    @piece-default-index-15: --color-bg-300,
    @piece-default-index-16: --color-text-white-100,
    @piece-default-index-17: --color-text-basic,
    @piece-default-index-18: --color-text-basic

  ) {
    .piece-range-amount {
      color: var(@piece-default-index-01);
    }
    
    .piece-award-count {
      color: var(@piece-default-index-02);
    }
    
    .piece-expirationTime {
      color: var(@piece-default-index-03);
    }
    
    .piece-expireCountdown {
      color: var(@piece-default-index-04);
    }
    
    .piece-bg-second {
      background: var(@piece-default-index-05);
    }
    
    .piece-text-basic {
      color: var(@piece-default-index-06);
    }
    
    .piece-text-wheelBottomUnchecked {
      color: var(@piece-default-index-07);
    }
    
    .piece-receipt-record {
      color: var(@piece-default-index-08);
    }
    
    .piece-support-record {
      color: var(@piece-default-index-09);
    }
    
    .piece-rule {
      color: var(@piece-default-index-10);
      background: var(@piece-default-index-11);
    }
    
    .piece-support-box {
      background: var(@piece-default-index-12);
      .support-bg-third {
        color: var(@piece-default-index-13);
        .support-round-amount {
          color: var(@piece-default-index-14);
        }
      }
    }
    
    .piece-reward-model {
      background: var(@piece-default-index-15);
      .reward-count {
        color: var(@piece-default-index-16);
      }
    }

    .piece-pChecked {
      color: var(@piece-default-index-17);
    }

    .invite {
      color: var(@piece-default-index-18);
    }
  }
}
