#activity-mineral-default-index {
  .style(
    @mineral-default-index-01: --color-bg-200,
    @mineral-default-index-02: --color-text-gray-200,
    @mineral-default-index-03: --accent-color-yellow,
    @mineral-default-index-04: --theme-color-gradient-400,
    @mineral-default-index-05: --color-bg-200,
    @mineral-default-index-06: --color-text-white-100,
    @mineral-default-index-07: --color-text-white-100,
    @mineral-default-index-08: --accent-color-yellow,
    @mineral-default-index-09: --color-text-gray-200,
  ) {
    .illustrate{
      background: var(@mineral-default-index-01);
      color: var(@mineral-default-index-02);
     }
    
    .earnings {
      color: var(@mineral-default-index-03);
    }
    
    ion-modal div.button {
      background: var(@mineral-default-index-04)
    }
    
    .mineral-time-date {
      background: var(@mineral-default-index-05);
      color: var(@mineral-default-index-06);
    }
    
    .mineral-text-basic {
      color: var(@mineral-default-index-07);
    }
    
    .mineral-text-emphasis {
      color: var(@mineral-default-index-08);
    }
    
    .mineral-text-second {
      color: var(@mineral-default-index-09);
    }
    
  }
}
