#spread-default-components-agentNetwork-components-smallBox {
  .style(
    @default-agentNetwork-components-smallBox-01: --color-border-600,
    @default-agentNetwork-components-smallBox-02: --color-text-white-100,
    @default-agentNetwork-components-smallBox-03: --color-bg-200,
  ) {
    .newest-border {
      border: 1px solid var(@default-agentNetwork-components-smallBox-01);
    }
    
    .agent-small-box {
      color: var(@default-agentNetwork-components-smallBox-02);
      background: var(@default-agentNetwork-components-smallBox-03);
    }
  }
}
