ion-content {
  font-family: 'Saira' !important;
}

.default-invite-cpf-record {
  font-size: 1.875rem;
}



.cpf-share-content {
  font-size: 1rem;
  font-weight: 700;
}

.default-invite-cpf-claim {
  padding: .625rem .5rem;
  
  .top-line,
  .bottom-line {
    z-index: 1;
    height: 1px;
  }

  .default-invite-cpf-reward-amount-tips {
    font-size: .625rem;
    line-height: .9375rem;
  }

  .default-invite-cpf-reward-amount {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: bold;
  }
}

.default-invite-cpf-rule {
  padding: 1.3506rem .9375rem 5.625rem .5625rem;
  .default-invite-cpf-rule-content {
    font-size: .75rem;
    line-height: 1.125rem;
  }
}

.default-invite-cpf-footer {
  padding: 1rem .875rem .9375rem .625rem;
  ion-button.default-available-btn {
    min-height: 0;
    height: 3.0625rem;
    font-size: .875rem;
    font-weight: bold;
    --border-radius: .25rem;
  }
}

.penguin-img {
  animation: shake 1.2s ease-in-out infinite; /* 动画持续时间1.2秒，反复循环 */
  transform-origin: bottom center; /* 以图片底部为中心 */
}

@keyframes shake {
  0%, 100% {
    transform: rotate(-5deg); /* 左侧倾斜 */
  }
  25% {
    transform: rotate(5deg); /* 右侧倾斜 */
  }
  50% {
    transform: rotate(-5deg); /* 左侧倾斜 */
  }
  75% {
    transform: rotate(5deg); /* 右侧倾斜 */
  }
}

