.report-selected {
  font-size: var(--ep-font-size-s);
  line-height: 1.125rem;
  font-weight: var(--ep-font-weight-bold);
  white-space: nowrap;
  color: var(--ep-color-text-default);
}

.rounded-middle {
  border-radius: var(--ep-border-radius-m);
}

.small-text-white {
  color: var(--ep-color-text-weaker);
  font-size: var(--ep-font-size-s);
  line-height: 1.125rem;
}

.record-seleceted-item {
  border: none;
  background: var(--ep-color-background-fill-surface-raised-L2);
  color: var(--ep-color-text-default);
  font-weight: var(--ep-font-weight-bold);
}

.record-selecet-item {
  border: none;
  background: var(--ep-color-background-fill-surface-raised-L1);
  color: var(--ep-color-text-weaker);
  font-weight: var(--ep-font-weight-medium);
}

.height-text-white {
  font-size: var(--ep-font-size-l);
  font-weight: var(--ep-font-weight-bold);
  line-height: 1.5rem;
}

.color-text-currency {
  color: var(--ep-color-text-warning);
}

.font-weight-medium {
  font-weight: var(--ep-font-weight-medium);
}

.font-weight-bold {
  font-weight: var(--ep-font-weight-bold);
}

.activity-claim-record {
  background-color: var(--ep-color-background-fill-body-default);
}

.select-box {
  display: flex;
  align-items: center;
  border-radius: var(--ep-border-radius-s);
  background: var(--ep-color-background-fill-surface-raised-L1);
  ion-icon {
    color: var(--ep-color-icon-weaker);
  }
}

.date-tips {
  color: var(--ep-color-text-weaker);
}

.claim-record-reward-label {
  color: var(--ep-color-text-default);
  font-weight: var(--ep-font-weight-regular);
}

ion-grid.table-title-bg {
  background: var(--ep-color-background-fill-surface-raised-L2);
  border-radius: var(--ep-border-radius-m) var(--ep-border-radius-m) 0 0;
}

.table-item-color {
  color: var(--ep-color-text-weaker) !important;
}

ion-grid ion-row.table-item-bg {
  min-height: 2.625rem;
}

ion-grid ion-row.table-item-bg:nth-child(even) {
  background: var(--ep-color-background-fill-surface-lowered);
}

ion-grid ion-row.table-item {
  color: var(--ep-color-text-weaker) !important;
}

.table-item-time-text {
  color: var(--ep-color-text-weak);
}

ion-infinite-scroll-content { /* 设置触底加载更多样式 */
  min-height: .625rem;
  font-size: var(--ep-font-size-s);
  color: var(--ep-color-text-weaker);
}

ion-popover {
  left: 1.75rem;
  --width: 7.5rem !important;
  --backdrop-opacity: 0;
  --box-shadow: none;
}

ion-icon {
  transition: transform .1s linear;
}

ion-icon.on {
  transform: rotate(180deg);
}

.empty-height {
	height: calc(100% - 3.5rem);
}

