html {
  #tabbar-tabs-inicio-components-FooterContent-components-age18-index.layout();
}


.neo-blue {
  #tabbar-tabs-inicio-components-FooterContent-components-age18-index.style(
    @text-color1: var(--ep-color-icon-weaker);
  );
  .icon-age {
    font-size: 1.5rem;
  }
}



#tabbar-tabs-inicio-components-FooterContent-components-age18-index {
  .style(
    @text-color1: var(--ep-color-icon-highlight);
  ) {
    .icon-age {
      color: @text-color1;
    }
  }

  .layout(
    @text-color1: var(--ep-color-icon-highlight);
  ) {
    .icon-age {
      position: relative;
      font-size: 1.5rem;
      color: @text-color1;
    }
  }
}