.yellow-dark body div#app {
	/*
		ui定义颜色区
	*/

	/* 主题色 */
	--theme-color-700: #fbc63d;
	--theme-color-800: #feb805;
	--theme-color-900: #d69a02;

	/* 着重色 */
	--accent-color-blue: #6691d5;
	--accent-color-red: #e64021;
	--accent-color-orange: #df8644;
	--accent-color-green: #53c154;

	/* 文字颜色 */
	/* 黑 */
	--text-color-black-100: rgba(45, 45, 45, 1);
	--text-color-black-80: rgba(64, 61, 79, 0.8);
	--text-color-black-60: rgba(45, 45, 45, 0.6);
	--text-color-black-40: rgba(64, 61, 79, 0.4);
	--text-color-black-20: rgba(55, 66, 87, 0.2);
	/* 白 */
	--text-color-white-100: rgba(255, 255, 255, 1);
	--text-color-white-80: rgba(255, 255, 255, 0.8);
	--text-color-white-60: rgba(255, 255, 255, 0.6);
	--text-color-white-40: rgba(255, 255, 255, 0.4);
	--text-color-white-20: rgba(255, 255, 255, 0.2);

	/** bg **/
	--color-bg-100: #2f2e2d;
	--color-bg-200: #262624;
	--color-bg-300: #1b1b19;
	--color-bg-400: #181816;

	/* 描边&线 */
	--line-color: #2e2d2c;

	--ion-font-family: "Saira", sans-serif;
	--ion-default-font: "Saira", sans-serif;

	/** primary **/
	--color-primary-700: var(--theme-color-700);
	--color-primary-800: var(--theme-color-800);
	--color-primary-900: var(--theme-color-900);
	/* ionic组件样式 */
	--ion-color-primary: var(--theme-color-700);
	--ion-background-color: #1b1b19;
	--ion-color-tertiary: var(--theme-color-800);
	--ion-color-tertiary-contrast: #fff;
	--ion-color-tertiary-shade: var(--theme-color-700);
	--ion-color-tertiary-tint: var(--theme-color-900);

	--color-svg-500: var(--theme-color-800);
	--color-svg-icon-primary: var(--theme-color-800);
	--color-svg-popular: var(--accent-color-red);

	/** 遮罩 **/
	--color-bg-mask: rgba(0, 0, 0, 0.6);

	--color-bg-tab-on: var(--theme-color-800);
  /* 支付密码输入框元素背景色 */
  --color-bg-payment-item: var(--color-bg-200);

	/** tertiary **/
	--color-text-100: #fff;
	--color-text-80: rgba(255, 255, 255, 0.8);
	--color-text-50: rgba(255, 255, 255, 0.5);
	--color-text-40: rgba(255, 255, 255, 0.4);
	--color-text-20: rgba(255, 255, 255, 0.2);
	--color-text-tab-main: #2d2d2d;
	--color-text-black-100: #2d2d2d;
	--color-text--black-80: rgba(45, 45, 45, 0.6);

	/* secondary */
	--color-text-secondary-1: var(--color-text-black-100);
	--color-text-secondary-2: var(--text-color-black-80);

	--color-text-tag: #6b4d00;

	/** 货币颜色 **/
	--color-currency: var(--accent-color-orange);
	--color-text-dark-30: rgba(0, 0, 0, 0.3);

	/** warning **/
	--color-warning: var(--accent-color-orange);

	/** danger **/
	--color-danger: var(--accent-color-red);

	/** link **/
	--color-link: #6691d5;

	/** success **/
	--color-success: var(--accent-color-green);

	--color-focus: var(--theme-color-900);

	/**  分割线的颜色 **/
	--color-line: #2e2d2c;
	--color-border: #2e2d2c;
	--color-line-200: #3b424e;

	/**   border-radius  尺寸 **/
	--rounded-small: 0.25rem;
	--rounded-middle: 0.375rem;
	--rounded-large: 0.625rem;
	--rounded-button-tab: 0.25rem;
	--rounded-segment: 0.375rem;
	--rounded-card-game: 0.375rem;

	--font-weight-bold: 700;
	--font-weight-medium: 500;
	--font-weight-regular: 400;

	--font-size-24: 1.5rem;
	--font-size-20: 1.25rem;
	--font-size-18: 1.125rem;
	--font-size-16: 1rem;
	--font-size-14: 0.875rem;
	--font-size-12: 0.75rem;
	--font-size-10: 0.625rem;
	--font-size-8: 0.5rem;

	/**   主题按钮激活 背景  禁用 加载 的颜色  **/
	--color-primary-btn-active: var(--theme-color-800);
	--color-primary-btn-disable: #dbc07d;
	--color-primary-btn-load: #9d7204;

	/**   主题按钮激活 文字颜色  禁用 加载 的颜色  **/

	--color-primary-btn-text-active: #2d2d2d;
	--color-primary-btn-text-disable: rgba(0, 0, 0, 0.4);
	--color-primary-btn-text-load: rgba(45, 45, 45, 0.6);

	--color-primary-btn-main: linear-gradient(
		151deg,
		#f7c77e 6.6%,
		var(--theme-color-800) 71.09%,
		#f1ad00 92.71%
	);

	/**卡片的背景颜色  **/
	--color-card-bg--100: #2f2e2d;
	--color-card-bg-200: #262624;
	--color-card-bg-300: #1b1b19;
	--color-card-bg-400: #181816;

	/* 进度条 */
	--color-progress-bar: var(--color-primary-900);
	--color-progress-bg: var(--color-bg-300);

	/* 导航栏背景色 */
	--color-nav-bg: var(--color-bg-200);

	/** 菜单按钮背景色 **/
	--color-menu-btn-bg: #2f2e2d;

	/** 模块栏背景色 **/
	--color-bar-bg: #262624;
	--color-button-bg-gray: #2f2e2d;
	--color-bar-bg-100: #302e2d;
	--color-bar-bg-pwa: linear-gradient(91.11deg, #fba531 -0.34%, #f38282 100%);
	--color-button-bg-cancel: #262624;
	--color-button-bg-update: var(--theme-color-800);

	--color-swiper-pagination: rgba(255, 255, 255, 0.2);

	--color-primary-border-light: #f9f6c2;

	--color-search-bar-border: #3b414d;

	--color-border-input-prefix: rgba(255, 255, 255, 0.2);

	--color-btn-bg-toggle: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(230, 186, 30, 0.2) 145.69%
		),
		#262624;

	--color-segment-md: #3b414d;
	--color-segment-md-indicator: var(--theme-color-800);
	--color-segment-ios-blur: var(--color-text-40);
	--color-bg-segment-ios: var(--color-bg-200);
	--color-bg-segment-ios-indicator: var(--color-bg-100);

	--color-checkbox-bg: linear-gradient(
		151deg,
		#f7c77e 6.6%,
		var(--theme-color-800) 71.09%,
		#f1ad00 92.71%
	);
	--color-checkbox-border: transparent;
	--color-screen-bg: #1d1d1c;
	--color-screen-bg-img: url("/icons/texture_bg.png");

	/**  充值和取款金额按钮的active颜色  r 是充值 w 是取款  **/
	--color-btn-bg-active-r: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0) 16.59%,
			rgba(214, 196, 36, 0.2) 110.34%
		),
		#2a2928;
	--color-btn-bg-active-w: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0) 16.59%,
			rgba(214, 196, 36, 0.2) 110.34%
		),
		#1b1b19;
	--color-bonus: var(--accent-color-green);

	/* 我的页面充值/提款按钮背景色渐变 */
	--bg-color-recharge-withdraw: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(230, 186, 30, 0.2) 133.57%
		),
		#262624;
	/* vip进度条颜色 */
	--progress-base-bg: rgba(255, 255, 255, 0.2);
	--progress-bg: #188707;
	/* 报表游戏筛选 选中颜色 */
	--color-report-selected: #fff;
	--color-report-select-icon: #FFF;
	/* 推广中心 可领取按钮颜色 */
	--agent-btn-color: #2d2d2d;
	/* 搜索框默认浅白色线 */
	--color-line-default: var(--line-color);
	/* 佣金下级数据,佣金详情页面 一级背景色 */
	--color-bg-commission-first: var(--color-bg-100);
	/* 佣金下级数据,佣金详情页面 二级背景色 */
	--color-bg-commission-second: var(--color-bg-200);
	/* 佣金下级数据,佣金详情页面 三级背景色 */
	--color-bg-commission-third: var(--color-bg-300);
	/* 佣金下级数据,佣金详情页面 四级背景色 */
	--color-bg-commission-fourth: var(--color-bg-400);
	/* 佣金下级数据,佣金详情页面 主要白色文字颜色 */
	--color-text-basic: var(--color-text-100);
	/* 佣金下级数据,佣金详情页面 次要白色文字颜色 */
	--color-text-second: var(--color-text-40);
	/* 佣金下级数据,佣金详情页面 三级白色文字颜色  用户ID*/
	--color-text-third: var(--color-text-80);
	/* 佣金下级数据,佣金详情页面 文字橙色着重色 */
	--color-text-orange-emphasis: var(--accent-color-orange);
	/* 佣金下级数据,佣金详情页面 文字黄色着重色 */
	--color-text-yellow-emphasis: var(--theme-color-800);
	/* 黄色按钮着重背景色 */
	--color-bg-yellow-btn-emphasis: var(--theme-color-800);
	/* 黄色着重按钮正常显示文字颜色 */
	--color-text-yellowBtn-active: var(--text-color-black-100);
	/* 活动 列表 活动简介文字颜色 */
	--color-activity-intro: var(--color-text-100);
	/* 活动 列表 活动名称文字颜色 */
	--color-activity-name: var(--color-text-40);
	/** 活动 返水标题文字颜色 **/
	--color-rebate-title: var(--color-text-40);
	/* 活动 活动规则文字颜色 */
	--color-activity-rule: var(--color-text-40);
	/* 活动 领取记录 时间选择内容字体颜色 */
	--color-activity-selected: #fff;
	/* 活动 代理 复制按钮颜色 */
	--color-copy-button: var(--color-text-100);
	/* 活动 代理 通用文字颜色 */
	--color-agent-text: var(--color-text-40);
	/* 活动 代理详情 选择框背景色 */
	--color-agent-select-bg: var(--color-bg-200);
	/* 活动 代理详情 底板背景色 */
	--color-agent-board-bg: var(--color-bg-500);
	/* 活动 代理详情 输入框背景色 */
	--color-agent-input-bg: transparent;
	/* 活动 会员答谢 活动时间标题文字颜色 */
	--color-activity-time: var(--color-text-100);
	/* 活动 会员答谢 标题文字颜色 */
	--color-appreciation-title: var(--color-text-80);
	/* 活动 会员答谢 货币单位文字颜色 */
	--color-appreciation-currency: var(--color-text-40);
	/* 活动 会员答谢 底板颜色 */
	--color-appreciation-board: var(--color-bg-200);
	/* 活动 vip 一键领取按钮激活背景色 */
	--color-vip-active-bg: var(--color-primary-800);
	/* 活动 vip 一键领取按钮禁用背景色 */
	--color-vip-disable-bg: var(--color-primary-btn-disable);
	/* 活动 vip 通用文字颜色 */
	--color-vip-text: var(--color-text-40);
	/* 活动 兑换码 输入框背景色 */
	--color-redeem-input-bg: transparent;
	/* 活动 助力领现金 标题文字颜色 */
	--color-piece-title: var(--color-text-100);
	/* 活动 助力领现金 通用文字颜色 */
	--color-piece-text: var(--color-text-100);
	/* 活动 助力领现金 勾选框背景色 */
	--color-piece-checkbox-bg: #fff;
	/* 活动 助力领现金 邀请按钮文字颜色 */
	--color-piece-invite-text: #fff;
	/* 活动 助力领现金 领取记录文字颜色 */
	--color-piece-record-text: var(--color-text-40);
	/* 活动 幸运转盘 按钮文字颜色 */
	--color-lucky-button-text: var(--color-text-100);
	/* 活动 自定义 内容文字颜色 */
	--color-custom-text: #fff;
	/* 活动 充值赠送 内容文字颜色 */
	--color-recharge-reward-text: #fff;
	/* 活动 神秘彩金 奖励item背景色 */
	--color-mystery-item-bg: var(--color-bg-400);
	/* 活动 页脚领取按钮区域背景色 */
	--color-activity-footer-bg: var(--color-bg-200);
	/* 退出按钮，消息中心按钮  tint:hover shade:focused*/
  --button-logout-message-text-color: var(--text-color-white-40);
	--button-left-bg-color-tint: #7f7f7e;
	--button-left-bg-color-shade: #4c4c4b;
	--button-right-bg-color-tint: #f2b942;
	--button-right-bg-color-shade: #d19d30;
	--logout-btn-right-color: #2D2D2D;
	--logout-btn-left-color: var(--text-color-white-40);
	/* 消息中心按钮颜色 */
	--message-button-bg-color-tint: #3a3a39;
	--message-button-bg-color-shade: #493f2a;
	/* 消息中心一键领取按钮颜色 */
	--msg-all-button-color-tint: #3a3a39;
	--msg-all-button-color-shade: #4b4b4b;
	/* 我的 消息中心 推广中心 报表基础color颜色 */
	--my-base-info-bg: #1b1b19;
	--skin-base-text-color: #FFF;
	--id-text-color-40: rgba(255, 255, 255, 0.4);
	--balance-title-text-color-40: rgba(255, 255, 255, 0.4);
  --balance-money-text-color: #FFF;
	--my-color-line: #2e2d2c;
	--recharge-withdraw-icon-color: #feb805;
	--vip-info-text-color-40: rgba(255, 255, 255, 0.4);
	--vip-max-text-color: rgba(255, 255, 255, 0.8);
	--vip-info-tips-text-color: rgba(255, 255, 255, 0.4);
	--my-card-bg-gradient: #262624;
  --my-card-detail-color: rgba(255, 255, 255, 0.4);
	--current-language-text-color: #FFF;
	--service-btn-color: #feb805;
	--service-btn-bg: #2f2e2d;
	--service-item-bg: #262624;
	--message-read-all-btn-bg: #2f2e2d;
	--report-select-bg: #262624;
	--report-select-item-box-bg: #262624;
	--report-select-item-bg: #262624;
	--report-selected-item-bg: #2f2e2d;
	--report-select-item-color: var(--color-text-80);
	--report-selected-item-color: var(--color-primary-800);
	--report-record-item-radius: var(--rounded-middle);
	--report-select-item-border-color: var(--color-menu-btn-bg);
	--report-record-item-bg: var(--color-bg-200);
	--security-item-icon-color: #FFF;
	--spread-segment-btn-bg: #262624;
	--spread-qr-box-bg: var(--color-text-100);
	--spread-save-qr-bg: var(--color-link);
	--spread-text-color-80: var(--color-text-80);
	--spread-share-box-border-color: #2A324E;
	--spread-bonus-rate-segment-item-color: #6D788E;
	--spread-commission-select-box-bg: var(--color-bg-200);
	--spread-commission-select-bg: var(--color-bg-400);
	--activity-record-select-item-bg: var(--color-bg-200);
	--activity-record-select-item-color: var(--color-text-40);
	--activity-record-selected-item-bg: var(--color-bg-100);
	--avatar-toolbar-bg: var(--color-bg-200);
	--vip1-detail-text-color: var(--text-color-white-100);
	--skin-ion-toolbar-bg: var(--color-bg-200);
	--vip1-text-color: var(--text-color-white-100);

	/* 多级分销代理中心 */
  --mlm-toolbar-bg-color: var(--color-bg-200);
  --mlm-leaderbord-icon-color: var(--text-color-white-100);
	--mlm-agent-level-bg: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(254, 184, 5, 0.154) 118.45%);
	--mlm-level-tips-text-color: var(--color-text-80);
	--mlm-agent-history-bgc: var(--color-bg-100);
	--mlmagent-history-hover-bgc: #3a3a39;
  --mlmagent-history-focused-bgc: #4b4b4b;
	--mlm-agent-claim-hover-bgc: #f2b942;
	--mlm-agent-claim-focused-bgc: #d19d30;
	--mlm-agent-claim-bg-color: var(--theme-color-800);
	--mlm-agent-claim-text-color: var(--color-text-black-100);
	--mlm-agent-claim-commisson-textc: var(--theme-color-800);
  --mlm-direct-team-btn-bgc: var(--color-bg-100);
	--mlm-agent-direct-icon-text-color: #6691D5;
	--mlm-agent-direct-text-color: var(--accent-color-blue);
  --mlm-agent-team-text-color: var(--accent-color-green);
	--mlm-agent-team-icon-text-color: #53C154;
	--mlm-agent-info-detail-bgc: var(--color-bg-200);
	--mlm-agent-my-agency-textc: rgba(255,255,255,0.8);
	--mlm-agent-report-icon-color: var(--text-color-white-40);
	--mlm-agent-jump-item-bgc: var(--color-bg-100);
	--mlm-agent-rate-info-bgc: var(--color-bg-200);
	--mlm-agent-rate-box-bgc: var(--color-bg-300);
	--mlm-agent-rate-item-right-textc: var(--accent-color-orange);
	--mlm-agent-level-item-bgc: var(--color-bg-200);
	--mlm-agent-rule-item-count-textc: rgba(255,255,255,0.2);
	--mlm-invitation-csut-color: var(--text-color-white-100);
	--mlm-selected-text-color: var(--text-color-white-100);
	--mlm-select-icon-text-color: var(--text-color-white-100);
	--mlm-searchbar-placeholder-color: var(--text-color-white-40);
	--mlm-searchbar-icon-color: var(--text-color-white-40);
	--mlm-subdetail-top-bgc: #FEB805;
	--mlm-subdetail-border-color: var(--color-border);
	--mlm-subdetail-box-bgc: var(--color-bg-400);
	--mlm-subdetail-box-border-color: var(--color-border);
	--mlm-subdetail-item-name-color: var(--color-text-40);
	--mlm-color-text-basic: var(--color-text-100);
	--mlm-agent-date-bg-color: var(--color-bg-200);
	--mlm-commission-detail-bgc: var(--color-bg-200);
	--mlm-commission-detail-tips-tc: var(--color-text-40);
	--mlm-commission-detail-money-tc: #FEB805;
	--mlm-commission-detail-account-money-tc: var(--accent-color-orange);
	--mlm-leader-bord-top-bgc: rgba(5, 105, 254, 0.154);
	--mlm-bord-tab-item-border-color: var(--line-color);
	--mlm-bord-tab-item-selected-bgc: var(--color-bg-200);
	--mlm-bord-tab-item-selected-tc: var(--theme-color-800);
	--mlm-bord-tab-item-select-tc: var(--color-text-40);
	--mlm-bord-tab-item-select-bgc: transparent;
	--mlm-bord-userid-text-color: var(--color-text-80);
	--mlm-bord-item-bgc: var(--color-bg-200);
	--mlm-agent-bord-currency-tc: var(--accent-color-orange);
  --mlm-agent-home-invite-btn-color: var(--theme-color-800);
	--mlm-segment-select-text-color: var(--my-card-detail-color);
  --mlm-segment-selected-text-color: var(--color-primary-800);
  --mlm-segment-indicator-bg-color: var(--color-primary-800);
  --mlm-rate-item-right-text-color: var(--accent-color-orange);
  --mlm-board-tab-border-color: var(--line-color);
  --mlm-leader-bord-money-text-color: var(--accent-color-orange);
  --mlm-invitation-footer-bg-color: var(--color-bg-200);
  --mlm-invitation-cust-btn-text-color: var(--color-text-80);
  --mlm-rate-level-agent-segment-select-color: var(--color-text-40);
	--color-mlm-btn-bg-disable: #dbc07d;
	--color-mlm-btn-text-disable: rgba(0, 0, 0, 0.4);
  --mlm-agent-left-btn-text-color: var(--text-color-white-100);
  --mlm-agent-home-money-icon-color: var(--accent-color-orange);
  --mlm-level-agent-selected-text-color: var(--color-primary-800);
  --mlm-level-info-tips-color: rgba(255,255,255,0.8);
  --mlm-description-content-title-color: var(--color-text-80);
  --mlm-rules-content-text-color: var(--color-text-80);
  --mlm-subordinate-money-text-color: var(--accent-color-orange);
  --mlm-subordinate-id-text-color: var(--color-text-80);
  --mlm-invitation-qr-code-bg: var(--color-text-100);
  --mlm-commission-rate-game-type-bg: var(--color-bg-400);
	--mlm-searchbar-enter-color: var(--text-color-white-100);

	/* 游戏分类搜索框 */
	--game-searchbar-bg-color: var(--color-bg-400);
	--game-searchbar-placeholder-color: var(--text-color-white-40);
	--game-searchbar-border-color: 0 0 0 1px var(--line-color), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	/* 首页 语言切换图标颜色 */
	--home-earth-color: #727271;

	/* 注册按钮 */
	--register-button-bg: var(--theme-color-800);
	--register-button-color: var(--text-color-black-100);
	/* 登陆按钮 */
	--login-button-bg: var(--color-bg-100);
	--login-button-color: var(--text-color-white-100);
	/* 忘记密码 */
	--forgot-step-unpass-color: var(--text-color-white-100);
	--forgot-step-pass-color: var(--text-color-black-100);
	/* 登录/注册 关闭弹窗按钮颜色 */
	--login-close-color: #D9D9D9;
	/* 喇叭 */
	--bugle-color: var(--text-color-white-100);
	/** 跑马灯 **/
	--marquee-color: var(--accent-color-green);
	--marquee-weight: var(--font-weight-bold);
	--marquee-size: 0.875rem;
	/* 导航标签按钮 */
	--navigation-button-color: var(--text-color-white-100);
	--navigation-label-color: var(--text-color-white-100);
	--navigation-bar-color: var(--color-text-40);
	--inicio-sort-view-amount-color: var(--theme-color-800);
	--navigation-bar-bg: var(--color-bg-200);
	--navigation-arrow-color: var(--color-text-40);
	--sports-icon-color: var(--theme-color-800);
	/* 三方合作 */
	--trilateral-cooperation-color: var(--text-color-white-100);
	--install-box-bg: var(--color-bg-400);
	--telegram-bg: rgba(255, 255, 255, 0.02);
	/* PWA底部弹窗 */
	--pwa-dialog-bg: var(--color-bg-200);
	/* 底部文案 */
	--footer-title-color: conic-gradient(
		from 180deg at 50% 50%,
		var(--ion-color-tertiary) 0deg,
		#fdfd68 359.96deg,
		var(--ion-color-tertiary) 360deg
	);
	--footer-sub-color: var(--text-color-white-40);
	--footer-content-color: var(--text-color-white-40);
	/** 模块栏背景色 **/
	--color-bar-bg: var(--color-bg-200);
	--color-button-bg-gray: var(--color-bg-100);
	--color-bar-bg-100: #302e2d;
	--color-bar-bg-pwa: linear-gradient(91.11deg, #fba531 -0.34%, #f38282 100%);
	--color-button-bg-support-bg: linear-gradient(
		326.82deg,
		var(--theme-color-800) 12.46%,
		#f4d177 87.98%
	);
	/* 浮动的回到顶部按钮 */
	--float-black-button-color: var(--text-color-white-100);
	--tab-image-color: var(--text-color-white-100);
	--tab-image-active-color: var(--text-color-white-100);
	--color-primary-btn-main-shadow: 0px 0px 25.008px 0px rgba(205, 149, 3, 0.12),
		0px 0px 14.29px 0px rgba(205, 149, 3, 0.8);
	/* 左侧抽屉 */
	--menu-close-color: var(--text-color-white-100);
	--menu-bar-bg: var(--color-bg-200);
	--menu-card-bg: var(--color-bg-200);
	--menu-card-label-icon: var(--text-color-white-40);
	--menu-card-label-title: var(--text-color-white-100);
	--color-btn-bg-toggle: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(230, 186, 30, 0.2) 133.57%
		),
		#22262e;
	--color-bar-bg-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
	--support-text-color: var(--text-color-white-100);
	--menu-support-card-bg: var(--color-bg-200);
	--menu-footer-bg: linear-gradient(
		180deg,
		rgba(26, 29, 34, 0) 4.58%,
		#040404 82.26%
	);
	/* components组件empty */
	--empty-icon-color: var(--color-bg-200);

	/* 公用弹窗 背景颜色*/
	--common-dialog-bg: var(--color-bg-200);
	/* 公用弹窗 内容文字颜色 */
	--common-dialog-text-color: var(--color-text-40);
	/* 公用弹窗 左边按钮颜色 */
	--common-dialog-left-btn-bg: var(--theme-color-800);
	/* 公用弹窗 右边按钮颜色 */
	--common-dialog-right-btn-bg: var(--color-bg-100);
	/* 公用弹窗 右边按钮文字颜色 */
	--common-dialog-right-btn-text-color: var(--color-text-40);
	/* 公用弹窗 左边按钮文字颜色 */
	--common-dialog-left-btn-text-color: var(--color-text-tab-main);

	/* 标题文本基础颜色 */
  --color-text-title-basic: var(--text-color-white-100);
  /* 平台图标卡片logo颜色 */
  --color-icon-platform-card: var(--color-text-80);
  /* 平台图标选中颜色 */
  --color-icon-platform-active: var(--ion-color-primary);
  /* 平台图标返水列表颜色 */
  --color-icon-platform-rebate: var(--color-text-40);
	/* 全局文字样式 */
	--font-size-back-button: 1.5rem;
	
	/* ============== */
	/* 充值详情 copy图标颜色  */
	--color-text-depositDetial-copy:  var(--color-primary-700);
	/* 充值详情  字号最大的金额文字颜色   */
	--color-text-inherit: inherit;
	--color-text-depositDetial-bigPrice: var(--color-text-inherit);
    /* SelectList组件弹出框选中文字颜色  */
    --color-text-SelectList-active: var(--text-color-light-purple-1-100);
    /* SelectList组件弹出框未选中文字颜色  */
    --color-text-SelectList-unActive: inherit;
    /* SelectList组件弹出框border颜色  */
    --color-border-SelectList-popover: var(--color-border);
	/* SelectList组件弹出框li 背景颜色颜色  */
	--color-bg-li-active: var(--color-bg-100);
    /* SelectList组件弹出框li 未激活背景颜色颜色  */
    --color-bg-li-unActive: var(--color-bg-200);
	/* empty组件下方文字颜色  */
	--color-text-empty: var(--ion-color-medium);
	/* ion-input-输入框光标颜色 */
	--input-highlight-color: var(--theme-color-800);
	/* ============== */

	/* CPF邀请活动 */
	--invite-cpf-record-icon: #FFF;
	--invite-cpf-reward-amount-text-color: rgba(255, 255, 255, 0.8);
	--invite-cpf-footer-top-line: #292D36;
	/* 红包雨-样式1 背景色 */
	--mineral-style1-toobar-bg: #0E1420;
	/* sign 活动 跟随皮肤 */
	--sign-default-extra-reward: #47DD2F;
	--sing-default-available-before: #35CD1E;
	--sign-default-footer-border: #292D36;
}
