.wheel-table {
	background: url('/svg/activity/wheel_table.svg') no-repeat;
	background-size: 100%;
}

.finger {
	width: 6rem;
	height: 6rem;
	opacity: 0;
	z-index: 900;
	position: relative;
	transform: translate(7.5rem, -8.75rem);
}

.fingerAnimation {
	animation: fingerTranslate 6s ease-in-out infinite;
	animation-play-state: v-bind("animationPlayState");
}

.zoom {
	opacity: 0;
	animation: zoom 6s ease-in-out infinite;
	z-index: 100;
	animation-play-state: v-bind("animationPlayState");
}



.aperture {
	animation: apertureAnimation 3s linear infinite;
}

.light {
	animation-name: lightAnimation;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.wheel-start {
	position: absolute;
	width: auto;
	height: 7.375rem;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	pointer-events: none;
}

.wheel-start.on {
	animation: buttonAnimation 250ms;
}

.card-name {
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

div.button {
	background: linear-gradient(31.96deg, #AD65ED 1.88%, #E693F9 100%);
	box-shadow: 0px 2px 2px 0px #FFFFFF66 inset, 0px -2px 2px 0px #FFFFFF66 inset;
}

div.finish {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(31.96deg, #AD65ED 1.88%, #E693F9 100%);
}

.turntable-shiny {
	/* position: relative; */
	overflow: hidden;

}

.turntable-shiny::before {
	content: '';
	animation: turntableShiny 6s ease-in-out infinite;
	background: red;
	display: inline-block;
	height: 60%;
	left: 0;
	position: absolute;
	top: 20px;
	width: 55px;
	z-index: 100;
	left: 6px;
	border-radius: 50%;
	overflow: hidden;
}

.shiny {
	position: relative;
	overflow: hidden;
}

.shiny::before {
	content: '';
	animation: shiny 6s ease-in-out infinite;
	background: white;
	display: inline-block;
	height: 100%;
	left: 0;
	position: absolute;
	top: -180px;
	width: 20px;
}

@keyframes fingerTranslate {
	0% {
		opacity: 0;
		transform: translate(72.5rem, 60rem)
	}

	25% {
		opacity: 0.2;
		transform: translate(28.75rem, 13.125rem)
	}

	70% {
		opacity: 1;
		transform: translate(7.5rem, -8.75rem);
	}


	80% {
		opacity: 1;
		transform: translate(7.625rem, -8.625rem) scale(90%);
	}


	90% {
		opacity: 1;
		transform: translate(7.375rem, -8.875rem) scale(110%);
	}

	100% {
		opacity: 0.5;
		transform: translate(7.5rem, -8.75rem) scale(100%);

	}
}

@keyframes zoom {
	0% {
		opacity: 0;
		transform: scale(0);
	}

	70% {
		opacity: 0;
		transform: scale(0);
	}

	80% {
		opacity: 0.4;
		transform: scale(110%);
	}

	90% {
		opacity: 0.6;
		transform: scale(120%);
	}

	100% {
		opacity: 0;
		transform: scale(125%);
	}
}

@keyframes shiny {
	0% {
		opacity: 0;
		transform: scale(0) rotate(45deg);
	}

	80% {
		opacity: 0.5;
		transform: scale(0) rotate(45deg);
	}

	81% {
		opacity: 1;
		transform: scale(4) rotate(45deg);
	}

	100% {
		opacity: 0;
		transform: scale(50) rotate(45deg);
	}
}

@keyframes turntableShiny {
	0% {
		opacity: 0;

	}

	80% {
		opacity: 0.3;

	}

	81% {
		opacity: 0.9;

	}

	100% {
		opacity: 0;

	}
}

@keyframes apertureAnimation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes lightAnimation {
	0% {
		transform: rotate(0deg);
	}

	49.99% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(22.5deg);
	}

	99.99% {
		transform: rotate(22.5deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@keyframes buttonAnimation {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(.9);
	}

	100% {
		transform: scale(1);
	}
}
