#activity-wheel-default-index {
  .style(
    @wheel-default-index-01: --color-bg-200,
    @wheel-default-index-02: --color-text-gray-200,
    @wheel-default-index-03: --color-text-gray-200,
    @wheel-default-index-04: --color-text-white-100,
    @wheel-default-index-05: --color-text-white-100,
    @wheel-default-index-06: --color-bg-200,
    @wheel-default-index-07: --color-text-white-100,
    @wheel-default-index-08: --color-text-white-100,
    @wheel-default-index-09: --color-bg-200,
    @wheel-default-index-10: --color-text-gray-200,
  ) {
    .wheel-countdown-time {
      background: var(@wheel-default-index-01);
      color: var(@wheel-default-index-02);
    }
    
    .wheel-text-second  {
      color: var(@wheel-default-index-03);
    }
    
    .wheel-redeem2 {
      color: var(@wheel-default-index-04);
    }
    
    .wheel-obtainRewardTickets {
      color: var(@wheel-default-index-05);
    }
    
    .wheel-bg-second {
      background: var(@wheel-default-index-06);
    }
    
    .wheel-ticket-amount {
      color: var(@wheel-default-index-07);
    }
    
    .wheel-ticket-label {
      color: var(@wheel-default-index-08);
    }
    
    .wheel-game-rule {
      background: var(@wheel-default-index-09);
      .rule-p {
        color: var(@wheel-default-index-10);
      }
    }
  }
}
