html {
  #tabbar-tabs-inicio-components-GameWrapper-components-wrapperHead-components-start-2-index.layout();
}

.green-dark {
  #tabbar-tabs-inicio-components-GameWrapper-components-wrapperHead-components-start-2-index.style(
    @icon-color1: #3E9B2F;
  );
}

.purple-light {
  #tabbar-tabs-inicio-components-GameWrapper-components-wrapperHead-components-start-2-index.style(
    @text-color: rgba(0, 0, 0, 0.80);
    @icon-color1: #6526DB;
  );
}

#tabbar-tabs-inicio-components-GameWrapper-components-wrapperHead-components-start-2-index {
  .style(
    @text-color: var(--ep-color-text-default);
    @icon-color1: var(--ep-color-icon-brand-primary, #FEB805);
    @icon-color2: var(--ep-color-icon-danger, #E64021);
  ) {
    .logo-c {

      .logo {
        color: @icon-color1;
      }

      .hot-logo {
        color: @icon-color2;
      }

      .label {
        color: @text-color;
      }
    }
  }

  .layout(
    @text-color: var(--ep-color-text-default);
    @icon-color1: var(--ep-color-icon-brand-primary, #FEB805);
    @icon-color2: var(--ep-color-icon-danger, #E64021);
  ) {
    .logo-c {
      display: flex;
      align-items: center;

      .logo {
        font-size: 2rem;
        margin-right: 0.5rem;
        color: @icon-color1;
      }

      .hot-logo {
        color: @icon-color2;
      }

      .label {
        font-size: var(--ep-font-size-xl, 1.125rem);
        font-weight: var(--ep-font-weight-medium, 600);
        color: @text-color;
      }
    }
  }
}
