.card{
  border-radius: var(--ep-border-radius-xl);
  background: var(--ep-color-background-fill-body-default);
}

ion-item::part(detail-icon) {
  font-size: var(--ep-font-size-m);
  color: var(--ep-color-border-default);
}

ion-label, h6 {
  font-size: var(--ep-font-size-m) !important;
  line-height: 1.3125rem;
  text-align: center;
}
