.spread-middle-text {
  font-size: var(--ep-font-size-m);
  line-height: 1.3125rem;
}

.spread-performance-info {
  background: var(--ep-color-background-fill-body-default);
}

.select-item {
  font-size: var(--ep-font-size-s);
  color: var(--ep-color-text-default);
  border-radius: var(--ep-border-radius-m) var(--ep-border-radius-m) 0 0;
  background: var(--ep-color-background-fill-surface-raised-L1);
}

.spread-date-select {
  border-radius: var(--ep-border-radius-s);
  background: var(--ep-color-background-fill-body-default);
}

.spread-search-icon {
  color: var(--ep-color-text-weaker) !important;
}

.sparead-table-title {
  color: var(--ep-color-text-weak);
  font-size: var(--ep-font-size-s);
  font-weight: var(--ep-font-weight-bold);
}

ion-searchbar#search-agency {
  --color: var(--ep-color-text-default);
  border-radius: var(--ep-border-radius-s);
  --background: var(--ep-color-background-fill-body-default);
  --placeholder-color: var(--ep-color-text-weak);
}

ion-item.table-title-bg {
  --background: var(--ep-color-background-fill-surface-raised-L2);
  border-radius: var(--ep-border-radius-m) var(--ep-border-radius-m) 0 0;
}


ion-item.table-item-bg:nth-child(even) {
  --background: var(--ep-color-background-fill-surface-lowered);
}

ion-item ion-row.spread-table-item {
  font-size: var(--ep-font-size-s);
  color: var(--ep-color-text-weaker) !important;
}

ion-item ion-row.spread-table-item ion-col.spread-table-item-light {
  color: var(--ep-color-text-weak);
}

ion-modal {
  --border-radius: var(--ep-border-radius-xl);
  --background: var(--ep-color-background-fill-surface-raised-L1);
}

ion-modal ion-toolbar {
  --background: var(--ep-color-background-fill-top-nav-secondary);
  border-bottom: 1px solid var(--ep-color-border-default);
}

ion-list {
  background: var(--ep-color-background-fill-surface-raised-L1);
}

ion-list ion-item.modal-item-detail {
  font-size: var(--ep-font-size-s);
  --background: var(--ep-color-background-fill-surface-raised-L1);
}

ion-list ion-item.modal-item-detail ion-label {
  color: var(--ep-color-text-default);
}

ion-datetime {
  --background: var(--ep-color-background-fill-surface-raised-L2);
  color: var(--ep-color-text-weak);
  --wheel-highlight-background: var(--ep-color-background-fill-active-primary);
}

ion-datetime::part(calendar-day active) {
  color: var(--ep-color-text-inverse);
  background: var(--ep-color-background-fill-active-primary);
}

ion-datetime::part(month-year-button) {
  --color: var(--ep-color-background-fill-active-primary);
}

.spread-performance-amount {
  color: var(--ep-color-text-warning);
}

.spread-table-item-search {
  font-size: var(--ep-font-size-s);
  line-height: 1.125rem;
  color: var(--ep-color-icon-default);
}

ion-icon.model-close {
  color: var(--ep-color-icon-default);
}
