ion-content.common-ion-content {
  --background: var(--color-bg-300);
}

.security-bind-email-tips {
  font-size: var(--font-size-14);
  color: var(--color-text-100);
  line-height: 1.3125rem;
  font-weight: var(--font-weight-medium);
}
