ion-content.common-ion-content {
  --background: var(--ep-color-background-fill-body-default);
}

.security-bind-email-tips {
  font-size: var(--ep-font-size-m);
  color: var(--ep-color-text-default);
  line-height: 1.3125rem;
  font-weight:  var(--ep-font-weight-medium);
}
