.count-down-item {
  width: 2.25rem;
  height: 2.75rem;
  border-radius: .3125rem;
  .count-down-item-content {
    .count-down-value {
      font-size: .875rem;
      line-height: .875rem;   
      font-weight: 700;
    }
    .count-down-name {
      font-size: .5rem;
    }
  }

  .count-down-footer-line {
    width: .375rem;
    height: .125rem;
    transform: translateX(-50%);
  }
}

.over-count-down {
  .count-down-item-content,
  .count-down-footer-line {
    opacity: 0.6;
  }
}
