#activity-rechargePromotion-components-countDown-index {
  .style(
    @rechargePromotion-components-countDown-index-01: linear-gradient(180deg, #34ED7E 0%, #26507C 100%);
    @rechargePromotion-components-countDown-index-02: #FFF;
    @rechargePromotion-components-countDown-index-03: #FAAC47;
    @rechargePromotion-components-countDown-index-04: linear-gradient(180deg, #FFF -20.45%, #283127 100%);
    @rechargePromotion-components-countDown-index-05: #FFF;
    @rechargePromotion-components-countDown-index-06: #FFF;
  ) {
    .count-down-item {
      background: @rechargePromotion-components-countDown-index-01;
      .count-down-item-content {
        color: @rechargePromotion-components-countDown-index-02;
      }
    
      .count-down-footer-line {
        background: @rechargePromotion-components-countDown-index-03;
      }
    }

    .over-count-down {
      background: @rechargePromotion-components-countDown-index-04;
      .count-down-item-content {
        color: @rechargePromotion-components-countDown-index-05;
      }
    
      .count-down-footer-line {
        background: @rechargePromotion-components-countDown-index-06;
      }
    }
  }
}
