.blue-default {
  #tabbar-tabs-inicio-components-CustomerServiceButton-Button1-index.style();
}

.forest-green, .green-default {
  #tabbar-tabs-inicio-components-CustomerServiceButton-Button1-index.style(
    @support-bg: linear-gradient(180deg, #13c96a 0%, #1d9554 100%);
  );
}

.amber-purple {
  #tabbar-tabs-inicio-components-CustomerServiceButton-Button1-index.style(
    @support-bg: linear-gradient(270deg, #7041F3 0%, #F5C84C 130.92%);
  );
}


#tabbar-tabs-inicio-components-CustomerServiceButton-Button1-index {

  .style(
    @support-bg: linear-gradient(0deg, #0167ca 0%, #38a8fa 100%);
  ) {
    .support {
      width: 2.5rem;
      height: 2.5rem;
      font-size: 2rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      left: 1rem;
      z-index: 50;
      background: @support-bg;

      .dot {
        position: absolute;
        top: 0.5rem;
        left: 1.5625rem;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background: #ff0000;
      }
    }
  }
}
