.tab-box {
  background: var(--ep-color-background-fill-surface-lowered);
  border-bottom: 1px solid var(--ep-color-border-default);
}

ion-button.base-style {
  font-size: var(--ep-font-size-m);
  --color: var(--ep-color-text-weaker);
}
ion-button.select-style {
  font-weight: var(--ep-font-weight-bold);
  --color: var(--ep-color-text-selected);
}


ion-segment-button.md::part(indicator-background) { /* 设置导航标签指示器的宽度 */
  background: var(--ep-color-border-selected);
}

.red-point {
  font-size: var(--ep-font-size-s);
  color: var(--ep-color-text-highlight-white);
  background: var(--ep-color-icon-tips);
}

ion-content {
  --background: var(--ep-color-background-fill-body-default);
}
