html {
  #tabbar-tabs-inicio-components-Segment-components-nav-6-index.layout();
}






#tabbar-tabs-inicio-components-Segment-components-nav-6-index {
  .layout(
  ) {
    .btn-wall {
      .type-img {
        display: block;
        background-size: 800% 400%;
        width: 7.5rem;
        height: 3.25rem;
      }
    }
  }
}