.green-default {
  #tabbar-tabs-inicio-components-GameWrapper-Tabs-Tabs1-index.style();
}

.forest-green {
  #tabbar-tabs-inicio-components-GameWrapper-Tabs-Tabs1-index.style(
    @bg1: linear-gradient(90deg, #FBED3C, #06DFA5);
    @text-color1: #fff;
    @text-color2: #EEF93B;
    @line-color1: #009F76;
  );
}

#tabbar-tabs-inicio-components-GameWrapper-Tabs-Tabs1-index {

  .style(
    @bg1: linear-gradient(90deg, #EABD5B, #4C8902);
    @text-color1: #7E9071;
    @text-color2: #FBED3C;
    @line-color1: #34571D;
  ) {
    ion-segment {

      &::after {
        content: "";
        display: block;
        height: 0.0625rem;
        width: 100%;
        background-color: @line-color1;
        position: absolute;
        bottom: 0.03rem;
        left: 0;
        z-index: -1;
      }

      &.md {

        ion-segment-button {
          --indicator-color: @bg1;
          --indicator-height: 0.125rem;
          --padding-start: 0.375rem;
          --padding-end: 0.375rem;
          --padding-top: 0.125rem;
          --padding-bottom: 0.125rem;
          --color: @text-color1;
          --color-checked: @text-color2;
          text-transform: capitalize;
          min-width: 0;
          font-size: 0.875rem;
          font-weight: 400;

          &::part(indicator) {
            /* 设置指示器宽度 */
            width: 80%;
            margin-left: auto;
            margin-right: auto;
          }

          .segment-button-checked {
            &::part(native) {
              font-weight: 900;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}