#spread-default-index {
  .style(
    @spread-default-index-01: --color-bg-200,
    @spread-default-index-02: --color-bg-300,
    @spread-default-index-03: --theme-color-gradient-100,
    @spread-default-index-04: --color-bg-900,
    @spread-default-index-05: --text-color-white-100,
    @spread-default-index-06: --text-color-white-100,
  ) {
    ion-toolbar {
      --background: var(@spread-default-index-01);
    }

    .tab-box {
      background: var(@spread-default-index-02);
    }

    ion-segment-button {
      --indicator-color: var(@spread-default-index-03);
      background: var(@spread-default-index-04);
    }

    ion-label.base-tab {
      color: var(@spread-default-index-05);
    }

    ion-label.selected-tab {
      color: var(@spread-default-index-06);
    }
    
  }
}
