.green-default {
  #tabbar-components-DrawerLeft-default-DrawerLeft3-index.style();
}

.forest-green {
  #tabbar-components-DrawerLeft-default-DrawerLeft3-index.style(
    @bg1: #004D37;
    @bg2: rgb(0, 77, 55);
    @bg3: linear-gradient(90deg, #00694A 0%, #00815D 50%, #00694A 100%);
    @bg4: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(246, 252, 46, 0.17) 100%);
    @bg7: #006849;
    @text-color1: var(--text-color1);
    @text-color2: #EEF93B;
    @text-color4: var(--text-color1);
    @line-color1: #009F76;
  );
}

.amber-purple {
  #tabbar-components-DrawerLeft-default-DrawerLeft3-index.style(
    @bg1: #262346;
    @bg2: #262346;
    @bg3: #3B3466;
    @bg4: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.06) 100%);
    @bg7: #3B3466;
    @text-color1: var(--text-color1);
    @text-color2: #17B663;
    @text-color4: var(--text-color1);
    @line-color1: #3B3466;
  );
}

.blue-default {
  #tabbar-components-DrawerLeft-default-DrawerLeft3-index.style(
    @bg1: #141B24;
    @bg2: #141B24;
    @bg3: #1C2432;
    @bg4: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.06) 100%);
    @bg7: #1C2432;
    @text-color1: var(--text-color1);
    @text-color2: #17B663;
    @text-color4: var(--text-color1);
    @line-color1: #2F3B4D;
  );
}


#tabbar-components-DrawerLeft-default-DrawerLeft3-index {
  .style(
    @bg1: #213b10;
    @bg2: #213B10;
    @bg3: #2B4F14;
    @bg4: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.06) 100%);
    @bg7: #2B4F14;
    @text-color1: #AFC69F;
    @text-color2: #17B663;
    @text-color3: #fff;
    @text-color4: #AFC69F;
    @icon-color1: linear-gradient(180deg, #FFC271 0%, #F2910D 100%);
    @line-color1: #34571D;
  ) {
    ion-menu {
      /* 抽屉菜单样式 */
      --background: transparent;

      &::part(container) {
        width: 100%;
      }

      ion-header {
        box-shadow: none;

        ion-toolbar {
          --background: @bg1;
          --border-width: 0;
        }

        .pwa-wall {
          height: 3.125rem;

          .pwa-head {
            --padding-start: .25rem;
            --padding-end: .25rem;
          }
        }
      }

      ion-content {

        &::part(background) {
          /* 抽屉菜单背景样式(不含头部)) */
          background: @bg2;
        }

        ion-menu-toggle {

          &.card {
            display: flex;
            align-items: center;
            padding: .4375rem 0 .4375rem .875rem;
            border-radius: 0.25rem;
            background: @bg3;
            border: 0.0625rem solid @line-color1;
            
            .img-wall {
              width: 1.75rem;
              height: 1.75rem;
              border-radius: 0.1875rem;
              margin-right: 0.3125rem;
              background: @bg4;
            }

            .label {
              font-size: 0.875rem;
              font-weight: 400;
              color: @text-color1;;
            }
          }
        }
        
        .support-container {
          display: flex;
          margin-block-start: 1.0625rem;
          padding-inline: .9375rem;
          gap: .8125rem;

          .support {
            flex: 1;
            display: flex;
            align-items: center;
            position: relative;
            padding: .5rem 0 0.5rem .875rem;
            border-radius: 0.25rem;
            color: @text-color4;
            background-color: @bg7;
            border: 0.0625rem solid @line-color1;
            font-size: 0.875rem;
            font-weight: 600;
            text-transform: capitalize;

            .icon {
              font-size: 1.625rem;
              border-radius: 50%;
              margin-inline-end: .5rem;
              color: @text-color3;
              background: @icon-color1;
            }
          }
  
          .language {
            display: flex;
            align-items: center;
            gap: .3125rem;
            padding: .7813rem 1.1875rem;
            border-radius: 0.25rem;
            color: @text-color4;
            background-color: @bg7;
            border: 0.0625rem solid @line-color1;
            font-size: 0.875rem;
            font-weight: 400;
          }
        }
        
      }
    }
  }
}
