ion-content {
    --padding-top: .625rem;
    --padding-bottom: .625rem;
    --padding-start: .625rem;
    --padding-end: .625rem;
  }
  
  ion-item {
    --background: transparent;
    --padding-start: 0;
    --inner-padding-end: .25rem;
  }
  
  .security-item {
    width: 100%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    border-radius: 0.5rem;
    margin-bottom: 0.625rem;
    ion-item {
      font-size: 0.75rem;
      line-height: 1rem;
      ion-icon {
        width: 1.5rem;
        margin-left: 0.625rem;
        margin-right: 0.625rem;
      }
    }
  }
  
  ion-icon.security-item-right-color {
    text-align: end;
    max-width: 60%;
  }
  