.swiper-poster {
    overflow: hidden;
    border-radius: .625rem;
    height: 7.5rem;
    .poster-img {
      object-fit: cover;
      object-position: left top;
      width: 100%;
      height: 100%;
    }
  }
  .swiper {
    height: 100%;
  }
  