.blue-default {
  #tabbar-tabs-inicio-components-HeaderBar-default-HeaderBar1-index.style(
    @bg1: #090f1f;
    @bg2: #090f1f;
    @text-color1: #fff;
    @icon-color1: #fff;
    @icon-color2: #fff;
    @currency-color: #FBA531;
    @number-color: #FBA531;
    @wallet-bg: linear-gradient(to bottom,#13c96a,#1d9554);
    @login-color: #fff;
    @login-bg: linear-gradient(0deg, #0167CA -13.77%, #38A8FA 102.34%);
    @register-color: #fff;
    @register-bg: linear-gradient(to bottom, #13C96A, #1D9554);
    @deposit-color: #fff;
    @deposit-bg: linear-gradient(180deg, #6A853A 0%, #98C24F 100%);
  );

  .home-type-Platform {
    &.v02 {
      #tabbar-tabs-inicio-components-HeaderBar-default-HeaderBar1-index.style(
        @bg1: #13192C;
        @bg2: #13192C;
        @text-color1: #fff;
        @icon-color1: #fff;
        @icon-color2: #fff;
        @currency-color: #FBED3C;
        @number-color: #FBED3C;
        @wallet-bg: linear-gradient(0deg, #0167CA -13.77%, #38A8FA 102.34%);
        @login-color: #fff;
        @login-bg: linear-gradient(0deg, #0167CA -13.77%, #38A8FA 102.34%);
        @register-color: #fff;
        @register-bg: linear-gradient(to bottom, #13C96A, #1D9554);
        @deposit-color: #fff;
        @deposit-bg: linear-gradient(180deg, #6A853A 0%, #98C24F 100%);
      );
    }
  }
  
  &:has(.home-type-Platform, #aaaa #bbbb) {
    .header {
      .icon-btn {
        font-size: 1.5rem;
      }
      .login, .register {
        text-transform: uppercase;
        --padding-start: 0.25rem;
        --padding-end:  0.25rem;
        font-weight: 700;
        font-size: .75rem;
      }
    }

    .v02 {
      .header {

        .assets-box {

          .currency {
            font-family: Inter;
          }
  
          .assets-box-number {
            font-family: Inter;
          }
  
          .wallet {
            padding: .3125rem .4375rem;
  
            ion-icon {
              font-size: 1.125rem;
            }
          }
        }
      }
    }
  }
}

.green-default {
  #tabbar-tabs-inicio-components-HeaderBar-default-HeaderBar1-index.style(
    @bg1: #2B4F14;
    @bg2: #2B4F14;
    @text-color1: #AFC69F;
    @icon-color1: #AFC69F;
    @icon-color2: #AFC69F;
    @currency-color: #FBED3C;
    @number-color: #FBED3C;
    @login-color: #fff;
    @login-bg: linear-gradient(180deg, #13c96a 0%, #1d9554 100%);
    @register-color: #fff;
    @register-bg: linear-gradient(180deg, #ffc271 0%, #f2910d 100%);
    @deposit-color: #fff;
    @deposit-bg: linear-gradient(180deg, #6A853A 0%, #98C24F 100%);
  );

  .v02 {
    #tabbar-tabs-inicio-components-HeaderBar-default-HeaderBar1-index.style(
      @bg1: radial-gradient(80.18% 120% at 0% 0%, #939033 0%, #325D16 100%);
      @text-color1: #AFC69F;
      @icon-color1: #AFC69F;
      @icon-color2: #AFC69F;
      @currency-color: #FBED3C;
      @number-color: #FBED3C;
      @login-color: #fff;
      @login-bg: linear-gradient(180deg, #13c96a 0%, #1d9554 100%);
      @register-color: #fff;
      @register-bg: linear-gradient(180deg, #ffc271 0%, #f2910d 100%);
      @deposit-color: #fff;
      @deposit-bg: linear-gradient(180deg, #6A853A 0%, #98C24F 100%);
    );
  }
  
  
  &:has(.home-type-Platform, #aaaa #bbbb) {
    .header {

      .icon-btn {
        font-size: 1.5rem;
      }

      .login, .register {
        text-transform: uppercase;
        --padding-start: 0.25rem;
        --padding-end:  0.25rem;
        font-weight: 700;
        font-size: .75rem;
      }

      .assets-box {

        .currency {
          font-family: Inter;
        }

        .assets-box-number {
          font-family: Inter;
        }

        .wallet {
          padding: .3125rem .4375rem;

          ion-icon {
            font-size: 1.125rem;
          }
        }
      }
    }
  }
}

.forest-green {
  .v01 {
    #tabbar-tabs-inicio-components-HeaderBar-default-HeaderBar1-index.style(
      @bg1: linear-gradient(to right, #007B4C 0%, #004D37 100%);
      @bg2: #007B4C;
      @text-color1: #AFC69F;
      @icon-color1: #AFC69F;
      @icon-color2: #7E9071;
      @currency-color: #FBED3C;
      @number-color: #FBED3C;
      @login-color: #fff;
      @login-bg: linear-gradient(180deg, #13c96a 0%, #1d9554 100%);
      @register-color: #fff;
      @register-bg: linear-gradient(180deg, #ffc271 0%, #f2910d 100%);
      @deposit-color: #fff;
      @deposit-bg: linear-gradient(180deg, #6A853A 0%, #98C24F 100%);
    );
  }

  .v02 {
    #tabbar-tabs-inicio-components-HeaderBar-default-HeaderBar1-index.style(
      @bg1: radial-gradient(80.18% 120% at 0% 0%, #007B4C 0%, #004D37 100%);
      @bg2: #007B4C;
      @text-color1: #AFC69F;
      @icon-color1: #fff;
      @icon-color2: #fff;
      @currency-color: #FBED3C;
      @number-color: #FBED3C;
      @wallet-color: #A34343;
      @login-color: #fff;
      @login-bg: linear-gradient(180deg, #13c96a 0%, #1d9554 100%);
      @register-color: #fff;
      @register-bg: linear-gradient(180deg, #ffc271 0%, #f2910d 100%);
      @deposit-color: #fff;
      @deposit-bg: linear-gradient(180deg, #6A853A 0%, #98C24F 100%);
    );
  }

  &:has(.home-type-Platform, #aaaa #bbbb) {
    .header {
      .icon-btn {
        font-size: 1.5rem;
      }
      .login, .register {
        text-transform: uppercase;
        --padding-start: 0.25rem;
        --padding-end:  0.25rem;
        font-weight: 700;
        font-size: .75rem;
      }

      .assets-box {

        .currency {
          font-family: Inter;
        }

        .assets-box-number {
          font-family: Inter;
        }

        .wallet {
          padding: .3125rem .4375rem;

          ion-icon {
            font-size: 1.125rem;
          }
        }
      }
    }
  }
}

.amber-purple {
  #tabbar-tabs-inicio-components-HeaderBar-default-HeaderBar1-index.style();

  .home-type-Platform {
    &.v01 {
      #tabbar-tabs-inicio-components-HeaderBar-default-HeaderBar1-index.style(
        @bg1: #262346;
        @icon-color1: #686299;
        @icon-color2: #fff;
        @wallet-color: #3F5070;
        @wallet-bg: #F5C84C;
      );
    }
  }

  &:has(.home-type-Platform, #aaaa #bbbb) {
    .header {
      .icon-btn {
        font-size: 1.5rem;
      }
      .login, .register {
        text-transform: uppercase;
        --padding-start: 0.25rem;
        --padding-end:  0.25rem;
        font-weight: 700;
        font-size: .75rem;
      }

      .assets-box {

        .currency {
          font-family: Inter;
        }

        .assets-box-number {
          font-family: Inter;
        }

        .wallet {
          padding: .3125rem .4375rem;

          ion-icon {
            font-size: 1.125rem;
          }
        }
      }
    }
  }
}

.auroral-yellow {
  #tabbar-tabs-inicio-components-HeaderBar-default-HeaderBar1-index.style(
    @bg1: #24221F;
    @bg2: #3B3466;
    @text-color1: #BDB8E1;
    @icon-color1: #BDB8E1;
    @icon-color2: #8A867C;
    @currency-color: #fff;
    @currency-shadow: 0 0 0.625rem #FFB200;
    @number-color: #fff;
    @number-shadow: 0 0 0.625rem #FFB200;
    @wallet-color: #fff;
    @wallet-bg: linear-gradient(180deg, #FFC271 0%, #F2910D 100%);
    @login-color: #fff;
    @login-bg: transparent;
    @register-color: #2D2D2D;
    @register-bg: #F7FB43;
    @deposit-color: #F7FB43;
    @deposit-bg: linear-gradient(180deg, #252320 0%, #36322C 100%);
  );

  .header{
    --padding-start: .875rem;
    --padding-end: 0.625rem;

    :deep(.menu-btn) {
      padding-inline-start: 0;
      padding-inline-end: 0.375rem;
    }

    :deep(.menu-bar) {
      padding: .375rem;
      border-radius: .375rem;
      background: #171616;
    }

    .assets-box {

      .currency {
        font-style: italic;
      }

      .assets-box-number {
        font-style: italic;
      }

      .deposit {
        margin-inline-start: 1.25rem;
        box-shadow: 0 -0.0625rem 0 0 #F7FB43 inset;

        &::part(native) {
          font-size: 0.6875rem;
          font-weight: 600;
        }
      }
    }

    .primaryBtn {
      display: flex;
      align-items: center;

      .login {
        font-size: 0.875rem;
        font-weight: 700;
        --box-shadow: none;
        --background-hover: transparent;
      }
  
      .register {
        font-size: 0.875rem;
        font-weight: 700;
      }
    }

    ion-button {

      &.btn-margin {
        & + .btn-margin {
          margin-inline-start: .5rem;
        }
      }
    }
  }
}

#tabbar-tabs-inicio-components-HeaderBar-default-HeaderBar1-index {

  .style(
    @bg1: #3B3466;
    @bg2: #3B3466;
    @text-color1: #BDB8E1;
    @icon-color1: #BDB8E1;
    @icon-color2: #686299;
    @currency-color: #F5C84C;
    @currency-shadow: none;
    @number-color: #F5C84C;
    @number-shadow: none;
    @wallet-color: #fff;
    @wallet-bg: linear-gradient(180deg, #FFC271 0%, #F2910D 100%);
    @login-color: #fff;
    @login-bg: linear-gradient(2deg, #3BDF86 23.05%, #2376A4 98.19%);
    @register-color: #fff;
    @register-bg: linear-gradient(5deg, #F0BF4A 20.82%, #8D36D1 112.62%);
    @deposit-color: #fff;
    @deposit-bg: linear-gradient(180deg, #6A853A 0%, #98C24F 100%);
  ) {
    .header{
      --padding-end: 0.9375rem;
      --background: @bg1;

      :deep(.menu-bar) {
        color: @icon-color2;
      }
    
      .assets-box {
        font-weight: 400;
        border: 0.0625rem solid transparent;
        border-radius: 0.625rem;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        display: flex;
        align-items: center;
        padding-top: 0.125rem;
        padding-bottom: 0.125rem;
        padding-left: 0.5rem;
        padding-right: 0.1875rem;
        border-radius: 0.375rem;
        font-size: 0.875rem;

        .assets-img {
          width: 1.25rem;
          margin-inline-end: .3125rem;
        }

        .currency {
          font-size: 0.875rem;
          font-weight: 700;
          margin-right: 0.25rem;
          color: @currency-color;
          text-shadow: @currency-shadow;
        }

        .assets-box-number {
          font-size: 0.875rem;
          font-weight: 700;
          color: @number-color;
          text-shadow: @number-shadow;
        }

        .wallet {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.25rem 0.625rem;
          border-radius: 0.25rem;
          margin-left: 0.375rem;
          background: @wallet-bg;
      
          ion-icon {
            font-size: 1.125rem;
            color: @wallet-color;
          }
        }

        .deposit {
          margin-left: .375rem;
          border-radius: .375rem;
          background: @deposit-bg;
        }
        ion-button::part(native) {
          color: @deposit-color;
        }
      }
      
      .primaryBtn {
        display: flex;
        align-items: center;

        .login {
          &::part(native) {
            background: @login-bg;
            color: @login-color;
          }
        }
    
        .register {
          &::part(native) {
            background: @register-bg;
            color: @register-color;
          }
        }

        .register-btn-warpper {
          display: flex;
          align-items: center;
          position: relative;
          .rewardTag {
            position: absolute;
            top: -0.5rem;
            right: -0.5rem;
          }
        }
      }

      ion-button {

        &.init-btn {
          --padding-top: .375rem;
          --padding-bottom: .375rem;
          --padding-start: .625rem;
          --padding-end: .625rem;
          margin-top: 0;
          margin-bottom: 0;
          margin-inline-start: 0;
          margin-inline-end: 0;
          font-feature-settings: 'cpsp' on;
          font-size: 0.75rem;
          font-weight: 400;
          line-height: 1;
          min-height: min-content;
          --border-radius: 0.375rem;
        }
        
        &.unset-btn {
          --padding-top: 0;
          --padding-bottom: 0;
          --padding-start: 0;
          --padding-end: 0;
          min-height: min-content;
          min-width: min-content;
        }

        &.outline-btn {
          --border-width: 0.0625rem;
          --border-style: solid;
          &.login {
            --background: #1A223A;
            --color: #1F8AE4;
            --border-color: #1F8AE4;
            &::part(native) {
              color: #1F8AE4;
            }
          }
          &.register {
            --background: #3C3834;
            --color: #FBA531;
            --border-color: #FBA531;
            &::part(native) {
              color: #FBA531;
            }
          }
        }

        &.search {
          padding-left: 0.5rem;
          margin: 0;
          font-size: 1.375rem;
          .search-icon {
            color: @icon-color1;
          }
        }

        &.earth {
          flex-shrink: 0;
          padding-left: 0.5rem;
          margin: 0;
          font-size: 1.375rem;
          .language-icon {
            color: @icon-color1;
          }
        }

        &.btn-margin {
          & + .btn-margin {
            margin-inline-start: 0.625rem;
          }
        }
      }
    }

    #language {
      --background: @bg2;
      
      &::part(content) {
        margin-top: 1.5rem;
        margin-left: 0.125rem;
        border-radius: 0.375rem;
        width: max-content;
      }
    
      ion-button {
        --color: @text-color1;
        --padding-top: 0;
        --padding-bottom: 0;
        --border-radius: 0;
        margin-inline: 0;
        margin-top: 0;
        margin-bottom: 0;
        height: 3.25rem;
        white-space: nowrap;
        align-self: flex-start;
    
        .flag {
          border-radius: 0.75rem;
          font-size: 1.25rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
}
