form {
  background: var(--ep-color-background-fill-surface-raised-L1);
  width: 100%;
  margin: 0 auto;
  border-radius: var(--ep-border-radius-m);
}

form ion-content {
  --background: transparent;
}

.illustrate {
  font-size: var(--ep-font-size-m);
  line-height: 1.3125rem;
  color: var(--ep-color-text-weak);
}

ion-item {
  --background: transparent;
  --padding-bottom: 0px;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
  --inner-padding-end: 0;
  --inner-border-width: 0px;
}
