ion-modal#modal-language::part(content) {
  --height: fit-content;
}

.change-language-modal {
  border-radius: var(--ep-border-radius-xl);
}

.change-language-tips {
  font-size: var(--ep-font-size-xl);
  line-height: 1.6875rem;
  font-weight: var(--ep-font-weight-bold);
}

.change-language-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--ep-font-size-m);
  line-height: 1.3125rem;
  font-weight: var(--ep-font-weight-medium);
}
