ion-modal#modal-language::part(content) {
  --height: fit-content;
}

.change-language-modal {
  border-radius: 1rem;
}

.change-language-tips {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  font-weight: 700;
}

.change-language-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .875rem;
  line-height: 1.3125rem;
  font-weight: 500;
}
