ion-content {
  background: var(--ep-color-background-fill-body-default);
}

.font-weight-medium {
  font-weight: var(--ep-font-weight-medium);
}

.font-weight-bold {
  font-weight: var(--ep-font-weight-bold);
}

.font-weight-regular {
  font-weight: var(--ep-font-weight-regular);
}

.mysterious-text-xs {
  font-size: var(--ep-font-size-s);
  line-height: 1.125rem;
}

.mysterious-text-sm {
  font-size: var(--ep-font-size-m);
  line-height: 1.3125rem;
}

.mysterious-text-lg {
  font-size: var(--ep-font-size-xl);
  line-height: 1.6875rem;
}

.mysterious-time {
  background-color: var(--ep-color-background-fill-surface-raised-L1);
  border-radius: var(--ep-border-radius-m);
}

.mysterious-time-info {
  background-color: var(--ep-color-background-fill-body-default);
  border-radius: var(--ep-border-radius-m);
}

.mysterious-reward-amount {
  font-size: var(--ep-values-20);
  line-height: 1.875rem;
  color: var(--ep-color-text-warning);
  font-weight: var(--ep-font-weight-bold);
}

.mysterious-reward-list {
  color: var(--ep-color-text-weaker);
  background-color: var(--ep-color-background-fill-surface-raised-L2);
  border-radius: var(--ep-border-radius-m) var(--ep-border-radius-m) 0 0;
}

.mysterious-reward-item-left {
  color: var(--ep-color-text-default);
}

.mysterious-reward-item-right {
  color: var(--ep-color-text-warning);
}

.level-check-text {
  color: var(--ep-color-text-selected);
}

.level-uncheck-text {
  color: var(--ep-color-text-weaker);
}

.normal-text {
  color: var(--ep-color-text-default);
}

.receive-text {
  color: var(--ep-color-text-info);
}

.reward-item-bg {
  background-color: var(--ep-color-background-fill-surface-lowered);
}

.rule-text {
	color: var(--ep-color-text-weaker);
}

.title-text {
  color: var(--ep-color-text-default);
}

.mysterious-time-tips {
  color: var(--ep-color-text-weaker);
}
