.ion-padding {
    .bind-white-color {
     font-size: 0.875rem;
     line-height: 1.25rem;
     margin-bottom: 0.25rem;
    }
    ion-item.phone {
     margin-top: 0.625rem;
     margin-bottom: 0.3125rem;
     .item {
       display: flex;
       align-items: center;
       .flag {
         border-radius: 0.75rem;
         font-size: 1.25rem;
         margin-right: 0.5rem;
       }
       .area {
         border-left: 0.125rem solid #D6DDED;
         padding-left: 0.5rem;
       }
     }
    }
    ion-item.email {
     margin-top: 0.625rem;
     margin-bottom: 0.3125rem;
    }
    ion-item.submit {
      font-size: 1rem;
      filter: drop-shadow(0 0.25rem 0.9375rem rgba(32, 139, 229, 0.25));
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
      margin-left: 2.5rem;
      margin-right: 2.5rem;
      .submit-btn {
       font-size: 0.875rem;
       width: 100%;
      }
    }
   }
   ion-item {
     --background: transparent;
     --padding-start: 0;
     --inner-padding-end: .25rem;
     min-height: 3.375rem !important;
   }
   
   ion-input {
     --border-width: 0rem;							/* error-text设置后有默认底部边框线 */
     --border-radius: 0.625rem;						/* 边角弧度 */
     --padding-start: 1rem !important;
     --padding-end: 1rem !important;
     min-height: 3.375rem !important;
     font-size: .875rem;
   }
   
   ion-item.submit {
     --min-height: 0;
     --ion-safe-area-left: 0;
     --ion-safe-area-right: 0;
     --background: linear-gradient(0deg, #0167CA 0%, #38A8FA 100%);
     --border-radius: 0.625rem;
   }
   
   ion-button.verify {
     --background: linear-gradient(0deg, #0167CA 0%, #38A8FA 100%);
     --border-radius: 0.625rem;
   }
   
   ion-button.verify.on {
     --background: #626262;
     --padding-start: 1.25rem;
     --padding-end: 1.25rem;
   }
   
   ion-button.submit-btn {
     font-weight: bold;
   }