.font-weight-medium {
  font-weight: var(--ep-font-weight-medium);
}

.font-weight-bold {
  font-weight: var(--ep-font-weight-bold);
}

.select-box {
  border-radius: var(--ep-border-radius-s);
  background: var(--ep-color-background-fill-surface-raised-L1);
  ion-icon {
    color: var(--ep-color-icon-default);
  }
}

.report-selected {
  font-size: var(--ep-font-size-s);
  line-height: 1.125rem;
  font-weight: var(--ep-font-weight-bold);
  white-space: nowrap;
  color: var(--ep-color-text-default);
}

.report-select-item {
  border: 1px solid var(--ep-color-background-fill-surface-raised-L2);
  background: var(--ep-color-background-fill-surface-raised-L2);
  color: var(--ep-color-text-weaker);
  font-weight: var(--ep-font-weight-medium);
  border-radius: var(--ep-border-radius-m);
}

.report-selected-item {
  border: none;
  background: var(--ep-color-background-fill-surface-raised-L2);
  color: var(--ep-color-text-selected);
  border-radius: var(--ep-border-radius-m);
  font-weight: var(--ep-font-weight-bold);
}

.report-recoed-item {
  background: var(--ep-color-background-fill-surface-raised-L1);
  border-radius: var(--ep-border-radius-m);
}

.report-skin-record-item-top {
  font-size: var(--ep-font-size-m);
  line-height: 1.3125rem;
  font-weight: var(--ep-font-weight-medium);
  color: var(--ep-color-text-default);
}

.record-item-bottom {
  font-size: var(--ep-font-size-s);
  line-height: 1.125rem;
  color: var(--ep-color-text-weaker);
  ion-icon {
    font-size: var(--ep-font-size-xl);
    color: var(--ep-color-text-weaker);
  }
}

.report-skin-text-success {
  color: var(--ep-color-text-success);
}

.report-skin-text-danger {
  color: var(--ep-color-text-danger);
}

ion-infinite-scroll-content {
  font-size: var(--ep-font-size-s);
  color: var(--ep-color-text-weakest);
}

ion-popover {
  ion-row {
    background: var(--ep-color-background-fill-surface-raised-L1);
  }
}

ion-content {
  --background: var(--ep-color-background-fill-body-default);
}

ion-row.report-skin-select-row {
  border-radius: var(--ep-border-radius-m);
  font-size: var(--ep-font-size-s);
  line-height: 1rem;
  text-align: center;
}
