// 注册
.header {
	padding-top: 1.0625rem;
	padding-bottom: .9375rem;
}

.title {
	font-size: 1.875rem;
	line-height: 1.2;
}

.login-hint {
	font-size: 0.875rem;
	padding-right: 0.75rem;
}

.login-text {
	font-size: 0.875rem;
}

.new-skin-symbol{
	.title {
		font-size: var(--ep-font-size-xxl);
	}
	.login-hint {
		font-size: var(--ep-font-size-m);
	}
	.login-text {
		font-size: var(--ep-font-size-m);
	}
}

.form-wrapper {
	flex: auto;
	overflow: auto;
	display: flex;
  flex-flow: column;
	padding-top: 0.5rem;

	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.footer {
  width: 100%;
  margin-top: auto;
  margin-bottom: 1.38rem;
}

.item-height {
	height: 4.375rem;
}

.cf-turnstile {
  padding-bottom: 1rem;
}

.register-btn-warpper {
  position: relative;
  .rewardTag {
    position: relative;
    z-index: 10;
    float: right;
		margin-right: 1rem;
    margin-bottom: -0.875rem;
  }
}

.item-height {

	.before-icon {
		font-size: var(--ep-font-size-xl, 1.25rem);
		margin-inline-end: .3125rem;
		margin-inline-start: .1875rem;
	}
}
