// 注册
#components-loginModal-components-register-index {
  .style(
    @--color-text-40: var(--color-text-40);
    @--login-text-color: var(--accent-color-blue);
    @--title-text-color: var(--color-text-100);
    @--font-weight-bold: var(--font-weight-bold);
    @--font-weight-regular: var(--font-weight-regular);
  ) {
    .title {
      font-weight: @--font-weight-bold;
      color: @--title-text-color;
    }
    .login-hint {
      font-weight: @--font-weight-regular;
      color: @--color-text-40;
    }
    .login-text {
      font-weight: @--font-weight-bold;
      color: @--login-text-color;
    }
  }
}
