.agent-bonus-rate-info {
  background: var(--color-bg-300);
  font-size: .75rem;
  line-height: 1.125rem;
}

ion-segment-button.md::part(indicator-background) { /* 设置导航标签指示器的宽度 */
  background: var(--color-primary-800);
  height: 1px;
}

ion-segment {
  border-bottom: 1px solid var(--spread-share-box-border-color);
}

ion-segment-button {
  /* 设置导航标签元素样式) */
  --padding-start: 0;
  --padding-end: 0;
  text-transform: capitalize;
  /* 文本每个单词头部自动大写*/
  min-width: 0;
  min-height: 0;
  /* 与ion-segment设置最小高度才能真正取消标签与指示器之间的边距 */
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

ion-segment-button ion-button {
  /* 取消导航标签的标签与指示器之间的边距 */
  min-width: 0;
}

ion-segment-button ion-label {
  font-size: .75rem !important;
  /* 自定义颜色需要设置优先级,或使用行内样式 */
  margin-top: .375rem;
  margin-bottom: .375rem;
}

ion-label.selected-item {
  color: var(--color-text-100);
}

ion-label.select-item {
  color: var(--spread-bonus-rate-segment-item-color);
}

ion-content {
  /* 滚动内容 */
  --background: transperent;
}

ion-item {
  --background: transparent;
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
  --inner-border-width: 0px;
  --min-height: 2.25rem;
}

ion-item.spread-table-title {
  font-size: var(--font-size-12);
  color: var(--color-text-40);
  line-height: 1.125rem;
  --background: var(--color-bg-100);
  border-radius: var(--rounded-small);
  font-weight: var(--font-weight-bold);
}

ion-item.spread-table-item {
  font-size: var(--font-size-12);
  color: var(--color-text-40);
  line-height: 1.125rem;
}

ion-item.odd {
  --background: var(--color-bg-400);
  border-radius: var(--rounded-small);
}

ion-grid {
  --ion-grid-padding: 0;
}

ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--my-card-detail-color);
}

ion-col.spread-bonus-rate-amount {
  color: var(--color-currency);
}
