html {
  #tabbar-components-DrawerLeft-components-gameList-categories-layout.layout();
}



#tabbar-components-DrawerLeft-components-gameList-categories-layout {
  .layout(
    @bg: red;
  ) {
    .game-categories {
      background: @bg;
      border-radius: 0.375rem;
    }
  }
}