html {
  #tabbar-tabs-inicio-components-MarqueeView-components-message-1-index();
}






#tabbar-tabs-inicio-components-MarqueeView-components-message-1-index {
  .layout1(
    @bg: #FF0000;
    @text-color: #fff;
  ) {
    .layout1.dot {
      width: 0.875rem;
      height: 0.875rem;
      line-height: 0.875rem;
      font-size: 0.5625rem;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 20;
      border-radius: 50%;
      text-align: center;
      background: @bg;
      color: @text-color;
    }
  }

  .layout2(
    @bg: var(--ep-color-background-fill-active-primary);
    @text-color: var(--ep-color-text-inverse);
  ) {
    .layout2.dot {
      padding: .25rem .5rem;
      border-radius: var(--ep-border-radius-l, 0.5rem);
      font-size: var(--ep-font-size-s, 0.75rem);
      font-weight: var(--ep-font-weight-medium, 600);
      position: relative;
      z-index: 9;
      background: @bg;
      color: @text-color;
    }
  }

  .layout3(
    @bg: var(--ep-color-text-danger, #E64021);
    @text-color: var(--ep-color-text-inverse);
  ) {
    .layout3.dot {
      width: 1.625rem;
      height: 1.625rem;
      text-align: center;
      line-height: 1.625rem;
      position: relative;
      z-index: 9;
      font-size: var(--ep-font-size-s, 0.75rem);
      font-weight: var(--ep-font-weight-medium, 600);
      border-radius: var(--ep-border-radius-infinity, 9999px);
      color: @text-color;
      background: @bg;
    }
  }   

  .layout1();
  .layout2();
  .layout3();
}