html {
  #tabbar-tabs-inicio-components-GameWrapper-components-wrapperHead-components-start-3-index();
}







#tabbar-tabs-inicio-components-GameWrapper-components-wrapperHead-components-start-3-index {

  .layout(
    @text-color: var(--ep-color-text-default, #BDB8E1);
    @icon-color1: var(--ep-light-accent-color-orange, #E4AE55);
    @icon-color2: var(--ep-light-accent-color-red, #E4AE55);
    @gradient: 'linear-gradient(to right, #3b3466, #3b3466), linear-gradient(317deg, #7041F3 2.45%, #F5C84C 105.89%)';
  ) {
    .logo-c {
      display: flex;
      align-items: center;

      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.375rem;
        width: 1.875rem;
        height: 1.875rem;
        font-size: 1.5rem;
        border-width: 0.0625rem;
        border-radius: 0.375rem;
        color: @icon-color1;
      }

      .border-gradient {
        background: @gradient;
        border-style: solid;
        border-color: transparent;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
      }

      .hot-logo {
        color: @icon-color2;
      }

      .label {
        font-size: 1rem;
        line-height: 1.5;
        text-transform: uppercase;
        color: @text-color;
      }
    }
  }

  .layout()
}