.top-content .date-content .reward-time {
  font-size: var(--ep-font-size-xxxl);
  line-height: 100%;
  font-weight: var(--ep-values-900);
  background: linear-gradient(90deg, var(--ep-color-background-fill-gradients-tertiary-a) -27.5%, var(--ep-color-background-fill-gradients-tertiary-b) 127.5%);
  -webkit-text-stroke-color: var(--ep-color-border-highlight-white);
}

.count-down-tips {
  font-size: var(--ep-values-12);
  line-height: 100%;
  font-weight: var(--ep-font-weight-regular);
  color: var(--ep-color-text-success);
}

.date-week {
  border: .125rem solid var(--ep-color-background-fill-active-active);
  background: var(--ep-color-background-fill-active-primary);
  box-shadow: none !important;
  border-radius: var(--ep-border-radius-surface-small);

  .week-text {
    font-size: var(--ep-font-size-xxl);
    line-height: 150%;
    font-weight: var(--ep-font-weight-bold);
    color: var(--ep-color-text-inverse);
  }

  .week-tips {
    font-size: var(--ep-font-size-s);
    line-height: 100%;
    color: var(--ep-color-text-highlight-white-weaker);
  }
}

.recharge-promotion-content {
  .recharge-rule-content {
    border-radius: var(--ep-border-radius-surface-small);
    background: linear-gradient(0deg, var(--ep-color-background-fill-gradients-secondary-a) 60.44%, var(--ep-color-background-fill-gradients-secondary-b) 100%);

    .recharge-item {
      border-radius: var(--ep-border-radius-m);
      background: var(--ep-color-background-fill-body-default);

      .recharge-item-top {
        background: var(--ep-color-background-fill-body-default);

        .recharge-info {

          .recharge-info-left,
          .recharge-info-right {
            font-size: var(--ep-font-size-s);
            font-weight: var(--ep-font-weight-medium);
            color: var(--ep-color-text-weaker);

            .total-amount {
              font-size: var(--ep-font-size-m);
              font-weight: var(--ep-font-weight-medium);
              color: var(--ep-color-text-warning);
            }
          }
        }


        .recharge-btn-container {
          display: inline-block;
          padding: 1px;
          border-radius: var(--ep-border-radius-m);
         

          .dis-recharge-btn {
            font-size: var(--ep-font-size-s);
            font-weight: var(--ep-font-weight-medium);
            border-radius: var(--ep-border-radius-m);
            border: 1px solid var(--ep-color-border-default) !important;
            color: var(--ep-color-text-success);
            background: var(--ep-color-background-fill-surface-raised-L2);
          }

          .recharged-btn {
            border: 1px solid var(--ep-color-border-default) !important;
            color: var(--ep-color-text-weaker);
            opacity: 1;
            background: var(--ep-color-background-fill-surface-raised-L2);
          }

        }


        .outer-recharge-btn {
          background: var(--ep-dynamic-primary);
          .recharge-btn {
            border: none;
            color: var(--ep-color-text-default);
            background: var(--ep-color-background-fill-surface-raised-L2);
            
          }
        }


      }

      .recharge-item-footer {
        font-size: var(--ep-font-size-s);
        font-weight: var(--ep-font-weight-regular);
        background: var(--ep-color-background-fill-surface-raised-L2);
        color: var(--ep-color-text-weaker);
      }
    }

    .recharge-promotion-rule .recharge-promotion-rule-contents {
      font-size: var(--ep-font-size-s);
      line-height: 150%;
      color: var(--ep-color-text-weak);
    }
  }
}

ion-icon.mineral-rule-icon {
  color: var(--ep-color-background-fill-active-primary);
}

.activity-rule-title {
  font-size: var(--ep-font-size-l);
  line-height: 150%;
  font-weight: var(--ep-font-weight-medium);
  color: var(--ep-color-text-weak);
}
