
#activity-rechargePromotion-default-index {
  .style(
    @rechargePromotion-default-index-01: linear-gradient(90deg, #d49135 10%, #9E2326 22.35%, #1659E6 75%);
    @rechargePromotion-default-index-02: #F6D7AA;
    @rechargePromotion-default-index-09: #23DB8C;
    @rechargePromotion-default-index-10: #BBBDFF;
    @rechargePromotion-default-index-11: linear-gradient(180deg, #5582C4 0%, #274B80 100%);
    @rechargePromotion-default-index-12: #4A9FFF;
    @rechargePromotion-default-index-13: rgba(255,255,255,0.38);
    @rechargePromotion-default-index-14: #F9D045;
    @rechargePromotion-default-index-15: #fff;
    @rechargePromotion-default-index-16: linear-gradient(180.38deg, #202F51 0.33%, #111542 25.46%);
    @rechargePromotion-default-index-17: #253154;
    @rechargePromotion-default-index-18: rgba(255, 255, 255, 0.5);
    @rechargePromotion-default-index-19: #1ACD4C;
    @rechargePromotion-default-index-20: #2A337A;
    @rechargePromotion-default-index-21: #1ACD4C;
    @rechargePromotion-default-index-22: #14173C80;
    @rechargePromotion-default-index-23: rgba(255, 255, 255, 0.1);
    @rechargePromotion-default-index-24: rgba(166, 176, 214, 0.5);
    @rechargePromotion-default-index-25: linear-gradient(270deg, #111542 0.65%, #3768B9 49.64%, #111542 100%);
    @rechargePromotion-default-index-26: #95A9D3;
    @rechargePromotion-default-index-27: #5764FC;
    @rechargePromotion-default-index-28: rgba(255, 255, 255, 0.70);
    @rechargePromotion-default-index-29: linear-gradient(180deg, #5582C4 0%, #274B80 100%);
  ) {
    .top-content .date-content .reward-time {
      background: @rechargePromotion-default-index-01;
      -webkit-text-stroke-color: @rechargePromotion-default-index-02;
    }

    .count-down-tips {
      color: @rechargePromotion-default-index-09;
    }
    
    .date-week {
      border: .125rem solid @rechargePromotion-default-index-10;
      background: @rechargePromotion-default-index-11;
      box-shadow:  0px 0px 12.9px 0px @rechargePromotion-default-index-12, 0px 5px 11.5px 0px @rechargePromotion-default-index-13 inset;
      
      .week-text {
        color: @rechargePromotion-default-index-14;
      }
    
      .week-tips {
        color: @rechargePromotion-default-index-15;
      }
    }

    .blue-purple-date-week {
      box-shadow: 0px 5px .5rem 0px @rechargePromotion-default-index-13 inset;
    }
    
    .recharge-promotion-content {
      .recharge-rule-content {
        background: @rechargePromotion-default-index-16;
        .recharge-item {
          .recharge-item-top {
            background: @rechargePromotion-default-index-17;
            .recharge-info {
              .recharge-info-left,
              .recharge-info-right {
                color: @rechargePromotion-default-index-18;
                .total-amount {
                  color: @rechargePromotion-default-index-19;
                }
              }
            }

            .outer-recharge-btn {
              background: @rechargePromotion-default-index-29;
            }

            .recharge-btn {
              border: none !important;
              color: @rechargePromotion-default-index-21;
              background: @rechargePromotion-default-index-22;
            }

            .dis-recharge-btn {
              border: 1px solid @rechargePromotion-default-index-20 !important;
            }

            .recharged-btn {
              border: 1px solid @rechargePromotion-default-index-20 !important;
              opacity: 0.5;
            }
          }

          .recharge-item-footer {
            background: @rechargePromotion-default-index-23;
            color: @rechargePromotion-default-index-24;
          }
        }

        .recharge-promotion-rule {
          .recharge-promotion-rule-border {
            background: @rechargePromotion-default-index-25;
          }

          .recharge-promotion-rule-contents {
            color: @rechargePromotion-default-index-26;
          }
        }
      }
    }

    ion-icon.mineral-rule-icon {
      color: @rechargePromotion-default-index-27;
    }

    .activity-rule-title {
      color: @rechargePromotion-default-index-28;
    }
  }
}

