.blue-default {
  #tabbar-tabs-inicio-components-HeaderBar-default-HeaderBar2-index.style();
}

#tabbar-tabs-inicio-components-HeaderBar-default-HeaderBar2-index {

  .style(
    @bg1: #101629;
    @currency-color: #fba531;
    @number-color: #fba531;
    @wallet-color: #fff;
    @wallet-bg: linear-gradient(to bottom, #13c96a, #1d9554);
    @deposit-color: #fff;
    @deposit-bg: linear-gradient(180deg, #13C96A 0%, #1D9554 100%);
    @login-color: #fff;
    @login-bg: linear-gradient(0deg, #0167CA -13.77%, #38A8FA 102.34%);
    @register-color: #fff;
    @register-bg: linear-gradient(to bottom, #13C96A, #1D9554);
  ) {

    .header {
      --background: @bg1;
      --padding-start: 0.9375rem;
      --padding-end: 0.9375rem;

      .logo {
        height: 1.75rem;

        &::part(image) {
          width: auto;
        }
      }
  
      .assets-box {
        font-weight: 400;
        border: 0.0625rem solid transparent;
        border-radius: 0.625rem;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        display: flex;
        align-items: center;
        padding-top: 0.125rem;
        padding-bottom: 0.125rem;
        padding-left: 0.5rem;
        padding-right: 0.1875rem;
        border-radius: 0.375rem;
        font-size: 0.875rem;
  
        .currency {
          color: @currency-color;
          font-size: 0.875rem;
          font-weight: 700;
          margin-right: 0.25rem;
        }
  
        .assets-box-number {
          color: @number-color;
          font-size: 0.875rem;
          font-weight: 700;
        }
  
        .wallet {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 1.875rem;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          padding-left: 0.625rem;
          padding-right: 0.625rem;
          border-radius: 0.25rem;
          margin-left: 0.375rem;
          background: @wallet-bg;
      
          ion-icon {
            font-size: 1.125rem;
            color: @wallet-color;
          }
        }
  
        .deposit {
          margin-left: .375rem;
          border-radius: .375rem;
          --color: @deposit-color;
          background: @deposit-bg;
        }
      }
    }

    .primaryBtn {
      display: flex;
      align-items: center;
      gap: 0.625rem;
      padding: 0.625rem 0.9375rem;

      .login {
        flex: 1;
        --padding-top: 0.6875rem;
        --padding-bottom: 0.6875rem;
        &::part(native) {
          background: @login-bg;
          color: @login-color;
        }
      }
  
      .register {
        flex: 1;
        --padding-top: 0.6875rem;
        --padding-bottom: 0.6875rem;
        &::part(native) {
          background: @register-bg;
          color: @register-color;
        }
      }

      .register-btn-warpper {
        display: flex;
        flex:1;
        position: relative;
        .rewardTag {
          position: absolute;
          top: -0.5rem;
          right: -0.5rem;
        }
      }
    }
    ion-button {

      &.init-btn {
        --padding-top: .375rem;
        --padding-bottom: .375rem;
        --padding-start: .625rem;
        --padding-end: .625rem;
        margin-top: 0;
        margin-bottom: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        font-feature-settings: 'cpsp' on;
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 1;
        min-height: min-content;
        --border-radius: 0.375rem;
      }
    }
    
  }
}
