#activity-rescue-default-index {
  .style(
    @rescue-default-index-01: --color-border-600,
    @rescue-default-index-02: --color-bg-200,
    @rescue-default-index-03: --color-bg-200,
    @rescue-default-index-04: --color-text-white-100,
    @rescue-default-index-05: --color-text-white-100,
    @rescue-default-index-06: --color-border-600,
    @rescue-default-index-07: --color-text-gray-700,
    @rescue-default-index-08: --accent-color-yellow,
    @rescue-default-index-09: --color-border-600,
    @rescue-default-index-10: --color-text-gray-700,
    @rescue-default-index-11: --color-bg-200,
    @rescue-default-index-12: --color-text-gray-200,
    @rescue-default-index-13: --color-bg-second,
    @rescue-default-index-14: --color-border-input-basic,
    @rescue-default-index-15: --color-text-rewardThead,
    @rescue-default-index-16: --color-text-emphasis,
    @rescue-default-index-17: --color-text-basic,
    @rescue-default-index-18: --color-text-basic,
    @rescue-default-index-19: @rescue-default-index-05,
    @rescue-default-index-20: null,
    @rescue-default-index-21: --color-bg-second,
    @rescue-default-index-22: --color-text-second,
    @rescue-default-index-23: null,
  ) {
    table th,
    table td {
      border: 1px solid var(@rescue-default-index-01);
      background: var(@rescue-default-index-02);
    }

    .rescue-countdown-time {
      background: var(@rescue-default-index-03);
      color: var(@rescue-default-index-04);
    }

    .rescue-text-basic {
      color: var(@rescue-default-index-05);
      font-weight: var(--ep-font-weight-bold, 700);
    }
    .rescue-text-basic-today {
      color: var(@rescue-default-index-19);
    }

    .rescue-symbol {
      border: 1px solid var(@rescue-default-index-06);
    }

    .rescue-text-rewardThead {
      color: var(@rescue-default-index-07);
    }

    .rescue-text-emphasis {
      color: var(@rescue-default-index-08);
    }

    .rescue-ioncol-border {
      border: 1px solid var(@rescue-default-index-09);
      p.today-tips {
        color: var(@rescue-default-index-10);
      }
    }

    .rescue-introduce {
      background: var(@rescue-default-index-11);
      color: var(@rescue-default-index-12);
    }
    .activityTime {
      background-color: var(@rescue-default-index-13);
    }
    .rescueBorder {
      border-color: var(@rescue-default-index-14);
    }
    .rewardTheadColor {
      color: var(@rescue-default-index-15);
      background-color: var(@rescue-default-index-23);
    }
    .rescueBody {
      color: var(@rescue-default-index-16);
    }
    .rescueHeader {
      color: var(@rescue-default-index-17);
      font-weight: var(--ep-font-weight-bold, 700);
    }
    .rescueBodyLeft {
      color: var(@rescue-default-index-18);
      font-weight: var(--ep-font-weight-bold, 700);
    }
    .profitLoss {
      ion-col{
        background-color: var(@rescue-default-index-20);
      }
    }
    .rescueDes {
      background-color: var(@rescue-default-index-21);
      color: var(@rescue-default-index-22);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }
}
