ion-modal#modal-exchange {
  --width: fit-content;
  --min-width: 21.875rem;
  --height: fit-content;
  --border-radius: 1.25rem;
}

ion-item {
  --background: transparent;
  --padding-bottom: 0px;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
  --inner-padding-end: 0;
  --inner-border-width: 0px;
}

ion-item.sc-ion-input-ios-h:not(.item-label):not(.item-has-modern-input), 
ion-item:not(.item-label):not(.item-has-modern-input) .sc-ion-input-ios-h {
  --padding-start: 10px; /* ion-input左内边距(ion-item内ion-input默认取消左内边距) */
}

ion-input { /* 输入框样式 */
  --placeholder-opacity: 1;
  --padding-bottom: 0px;
  --padding-start: 10px;
  --padding-top: 0px;
  --border-width: 0px;
  --border-radius: 10px;
  font-size: 12px;
}

ion-button {
  --ripple-color: transparent;
  --background-hover: transparent;
}
