.small-text-white {
  color: var(--ep-color-text-weaker);
  font-size: var(--ep-font-size-s);
  line-height: 1.125rem;
}

.height-text-white {
  font-size: var(--ep-font-size-l);
  font-weight: var(--ep-font-weight-bold);
  line-height: 1.5rem;
}

.color-text-currency {
  color: var(--ep-color-text-warning);
}

.font-weight-bold {
  font-weight: var(--ep-font-weight-bold);
}

.pending-claim-record {
  background-color: var(--ep-color-background-fill-body-default);
}

.pending-claim-reward-label {
  font-weight: var(--ep-font-weight-regular);
  color: var(--ep-color-text-default);
}

ion-grid.table-title-bg {
  background: var(--ep-color-background-fill-surface-raised-L2);
  border-radius: var(--ep-border-radius-m) var(--ep-border-radius-m) 0 0;
}

.table-title-color {
  color: var(--ep-color-text-weaker) !important;
}

.table-item-grid {
  font-size: var(--ep-font-size-s);
  line-height: 1.125rem;
}

ion-grid ion-row.table-item-bg {
  min-height: 2.625rem;
}

ion-grid ion-row.table-item-bg:nth-child(even) {
  background: var(--ep-color-background-fill-surface-lowered);
}

ion-grid ion-row.table-item {
  color: var(--ep-color-text-weaker) !important;
}

.table-item-time-text {
  color: var(--ep-color-text-weak);
}

ion-infinite-scroll {
  min-height: 4.375rem;
}

ion-infinite-scroll-content { /* 设置触底加载更多样式 */
  min-height: .625rem;
  font-size: var(--ep-font-size-s);
  color: var(--ep-color-text-weaker);
}
