ion-content {
    --padding-start: var(--ion-padding, 1rem);
    --padding-end: var(--ion-padding, 1rem);
    --padding-top: var(--ion-padding, 1rem);
    --padding-bottom: var(--ion-padding, 1rem);
    padding-inline-start: var(--ion-padding, 1rem);
    padding-inline-end: var(--ion-padding, 1rem);
    padding-top: var(--ion-padding, 1rem);
    padding-bottom: var(--ion-padding, 1rem);
    .top {
      margin-top: 3.9375rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      ion-icon {
        font-size: 3.4375rem;
      }
      p.status {
        font-size: 1rem;
        line-height: 1.375rem;
        padding-top: 0.9375rem;
        padding-bottom: 0.9375rem;
      }
      p.tip {
        font-size: 0.875rem;
        line-height: 1.375rem;
      }
    }
    .btn {
      align-items: center;
      justify-content: center;
      display: flex;
      gap: 1.125rem;
      margin-top: 2.5rem;
    }
  }
  .btnBase {
    --border-radius: 0.625rem;
    font-size: 0.75rem;
    width: 10.3125rem;
    height: 2.5rem;
  }
  
  
  .btnContinueWithdraw {
    --background: transparent;
    --border-width: 0.0625rem;
    --border-style: solid;
  }