ion-segment-button.md::part(indicator-background) { /* 设置导航标签指示器的宽度 */
  background: var(--ep-color-border-selected);
}

ion-button.base-style {
  font-size: var(--ep-font-size-m);
  --color: var(--ep-color-text-weaker);
}

ion-button.select-style {
  font-weight: var(--ep-font-weight-bold);
  --color: var(--ep-color-text-selected);
}

ion-content {
  --background: var(--ep-color-background-fill-body-default);
}

.report-tab {
  background-color: var(--ep-color-background-fill-surface-lowered)
}
