// 签到奖励 跟随皮肤


ion-content {
  --default-font-family: "SF Pro", sans-serif;
  font-family: var(--ep-font-family, --default-font-family);
  --padding-start: 0.9375rem;
  --padding-end: 0.9375rem;
}

.top-banner {
  width: 100%;
  position: relative;
  margin-top: 1.25rem;
}

.banner {
  width: 100%;
  height: 12.6875rem;
  background-size: cover;
  background-position: center;
}

.level-info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .flexBox();
  flex-direction: column;

  .level-icon {
    width: 10.625rem;
    height: 7.5rem;
    margin-top: 0.5625rem;
  }

  .level-name {
    margin-top: 2.5rem;
    font-size: var(--ep-font-size-xxl, 1.5rem);
    line-height: 1.5;
    font-weight: var(--ep-font-weight-medium, 500);
    color: #fff;
  }
}

.level-progress {
  .flex-around();
  margin: 0.75rem 0;

  .icon-item {
    .level-icons {
      .flex-center();
      border-radius: var(--ep-border-radius-m, 0.5rem);
      width: 3rem;
      height: 3rem;
      img {
        width: 2.5rem;
      }
    }

    p {
      min-height: 0.75rem;
      font-size: var(--ep-font-size-s, 0.75rem);
      line-height: 1;
      font-weight: var(--ep-font-weight-medium, 500);
      text-align: center;
      margin: 0.5rem 0;
    }
  }
}

.progress-container {
  margin: 0 0.625rem;
  height: 1.75rem;
  position: relative;

  .progress-bar {
    position: absolute;
    margin: 0.3125rem 0;
    width: 100%;
    height: 0.125rem;
  }

  .progress-mark {
    position: absolute;
    width: 100%;
    .flex-between();
    .mark-item {
      .flex-center();
      width: 2.5rem;

      .img-container {
        .flex-around();
        margin-bottom: 0.25rem;

        img {
          width: 0.8125rem;
          align-items: center;
        }
      }

      p {
        text-align: center;
        font-size: var(--ep-font-size-xs, 0.625rem);
        font-style: normal;
        font-weight: var(--ep-font-weight-medium, 500);
        line-height: 1.2;
      }
    }
  }
}

.bet-info {
  .flex-center();
  flex-direction: column;
  height: 3.75rem;
  margin: 0.75rem 0;
  border-radius: var(--ep-border-radius-m, 0.5rem);
  .bet-amount {
    font-size: var(--ep-font-size-xxl, 1.5rem);
    line-height: 1.3;
    font-weight: var(--ep-font-weight-medium, 500);
    margin-right: 0.9375rem;
  }
  .bet-text {
    display: inline-flex;
    align-items: center;
    font-size: var(--ep-font-size-s, 0.75rem);
    line-height: 1;
    font-weight: var(--ep-font-weight-regular, 400);
    text-align: center;
  }
}

.reward-info {
  width: 100%;
  margin-bottom: 1.25rem;
  border-radius: var(--ep-border-radius-m, 0.5rem);
  overflow: hidden;

  .title {
    .flex-center();
    height: 4rem;
    font-size: var(--ep-font-size-l, 1rem);
    font-style: normal;
    font-weight: var(--ep-font-weight-bold, 600);
    line-height: 1;
    letter-spacing: 0.015rem;
    text-align: center;

    img {
      width: 2rem;
      height: 2rem;
      margin-right: 0.75rem;
    }
  }

  .item {
    .flex-between();
    height: 3.125rem;
    padding: 0rem 0.5rem;
    align-self: stretch;

    .day-text {
      .flex-start();
      min-width: 5.625rem;
      font-size: var(--ep-font-size-s, 1rem);
      font-style: normal;
      font-weight: var(--ep-font-weight-bold, 500);
      line-height: 1;

      img {
        width: 1.25rem;
        height: 1.25rem;
        margin: 0.375rem 0.625rem 0.375rem 0.375rem;
      }
    }

    .amount {
      flex: 1;
      text-align: left;
      font-size: var(--ep-font-size-s, 1rem);
      font-style: normal;
      font-weight: var(--ep-font-weight-bold, 500);
      line-height: 1;
      margin-left: 0.75rem;
    }

    .button-wrapper {
      width: 8.25rem;
      height: 2rem;
      .flex-center();
      .button {
        .flex-center();
        width: 8.25rem;
        height: 2rem;
        border-radius: var(--ep-border-radius-m, 0.5rem);
        color: #FFF;
        text-align: center;
        font-size: var(--ep-font-size-s, 0.75rem);
        font-style: normal;
        font-weight: var(--ep-font-weight-medium, 500);
        line-height: 1.3;
      }

      .button.done {
        opacity: 0.5;
      }

      p {
        font-size: var(--ep-font-size-l, 1rem);
        font-style: normal;
        font-weight: var(--ep-font-weight-medium, 500);
        line-height: 1;
        text-align: center;
      }
    }
  }
}

.rules {
  --default-rule-font-family: "SF Pro Text", sans-serif;
  font-family: var(--ep-font-family, --default-rule-font-family);
  font-size: var(--ep-font-size-s, 0.875rem);
  font-style: normal;
  font-weight: var(--ep-font-weight-regular, 400);
  line-height: 1.25;
  padding-bottom: 1.25rem;

  .rule-title {
    font-weight: var(--ep-font-weight-medium, 700);
    margin-bottom: 0.75rem;
  }

  .rule-content p {
    text-indent: -0.45em;
    margin-left: 1em;
  }
  
  .rule-content p:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .rule-content p::before {
    content: "•";
    font-size: var(--ep-font-size-l, 1rem);
    display: inline-block;
  }
}
