html {
  #tabbar-tabs-inicio-components-HeaderBar-components-searchButton-index.layout();
}

#tabbar-tabs-inicio-components-HeaderBar-components-searchButton-index {
  .layout(
    @icon-color1: #BDB8E1,
  ) {
    .search {
      margin-left: 0.5rem;
      
      .search-icon {
        font-size: 1.125rem;
        color: @icon-color1;
      }
    }
  }
}