ion-modal {
  --width: fit-content;
  --height: fit-content;
  background: #00000066;
}

.unmet-receive {
  width: 21.25rem;
  min-height: 11.5625rem;
  border-radius: .625rem;
  background: #262624;
  padding: 1.0625rem .6875rem .875rem .8125rem;
}

.unmet-tips {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  font-weight: 700;
  color: rgba(255,255,255,1);
}
.unmet-message {
  font-size: .75rem;
  line-height: 1.125rem;
  color: rgba(255,255,255,0.4);
}

.text-money {
  color: #53C154;
}
