ion-content {
  --background: var(--ep-color-background-fill-body-default);
}

.tab-box {
  background: var(--ep-color-background-fill-surface-lowered);
  border-bottom: 1px solid var(--ep-color-border-default);
}

ion-button.base-style {
  --color: var(--ep-color-text-weaker);
  font-size: var(--ep-font-size-m);
}

ion-button.select-style {
  font-weight: var(--ep-font-weight-bold);
  --color: var(--ep-color-text-selected);
  background: var(--ep-color-background-fill-surface-raised-L1);
  border-radius: 0.25rem 0.25rem 0px 0px;
  border-bottom: 2px solid var(--ep-color-border-selected);
}

