.c1-left{
	top: 1rem;
}
.c3-right{
	top: 1rem;
	right: 0;
}
.top-box-area{
	top: -.2rem;
}

.C2-toA {
	right: 3.6rem;
	position: absolute;
	top: -2.9rem;
}
.b1-arrow {
	left: 2.2rem;
	transform: rotate(30deg);
	bottom: 5.1rem;
}
.b2-arrow {
	left: 36%;
	bottom: 5rem;
}
.b3-arrow {
	right: 2rem;
	transform: rotate(-30deg);

	bottom: 5.1rem;
}
.c1-arrow-toB1 {
	bottom: 3.8rem;
	left: 0.5rem;
}
.c2-arrow-toB1 {
	bottom: 4.2rem;
	left: 23%;
	transform: rotate(-28deg);
}
.c3-arrow-toB3 {
	right: 0.7rem;
	bottom: 3.8rem;
}
.c2-arrow-toA {
	bottom: 5.2rem;
	left: 24%;
}
.c1-arrow-toA {
	bottom: 5.2rem;
	left: -6.6rem;
}
.c3-arrow-toA {
	bottom: 5.2rem;
	right: -6.6rem;
	transform: scaleX(-1);
}
.tutorial-detail {
	border-radius: 0.28rem;
	font-size: 0.6rem;
	padding: 0.4rem;
}
.tutorial-detail h1 {
	font-size: 0.7rem;
	margin: 0;
}
.tutorial-detail p {
	text-indent: 0.9rem;
}
