#spread-default-components-agentNetwork-components-newest {
  .style(
    @default-agentNetwork-components-newest-01: --color-border-600,
    @default-agentNetwork-components-newest-02: --color-text-white-100,
    @default-agentNetwork-components-newest-03: --color-text-gray-200,
    @default-agentNetwork-components-newest-04: --accent-color-orange-1,
  ) {
    .newest-border {
      border: 1px solid var(@default-agentNetwork-components-newest-01);
    }
    
    .newest-white-color {
      color: var(@default-agentNetwork-components-newest-02);
    }
    
    .newest-minor-color {
      color: var(@default-agentNetwork-components-newest-03);
    }
    
    .money-text {
      color: var(@default-agentNetwork-components-newest-04);
    }
  }
}
