#activity-agency-default-index {
  .style (
    @activity-agency-default-index-01: --color-text-gray-200,
    @activity-agency-default-index-02: --color-text-white-100,
    @activity-agency-default-index-03: --theme-color-gradient-100,
    @activity-agency-default-index-04: --theme-color-gradient-100,
    @activity-agency-default-index-05: --theme-color-gradient-100,
    @activity-agency-default-index-06: --theme-color-gradient-100,
    @activity-agency-default-index-07: --color-bg-200,
    @activity-agency-default-index-08: --color-text-gray-300,
    @activity-agency-default-index-09: --color-text-white-100,
    @activity-agency-default-index-10: --color-text-white-100,
    @activity-agency-default-index-11: --theme-color-500,
    @activity-agency-default-index-12: --accent-color-yellow,
    @activity-agency-default-index-13: --accent-color-yellow,
    @activity-agency-default-index-14: --color-bg-200,
    @activity-agency-default-index-15: --color-text-white-100,
    @activity-agency-default-index-16: --color-text-gray-200,
    @activity-agency-default-index-17: --color-bg-200,
    @activity-agency-default-index-18: --color-text-white-100,
    @activity-agency-default-index-19: --color-text-gray-200,
    @activity-agency-default-index-20: --accent-color-yellow,
    @activity-agency-default-index-21: --color-bg-200,
    @activity-agency-default-index-22: --color-text-gray-300,
    @activity-agency-default-index-23: --color-text-gray-200,
    @activity-agency-default-index-24: --theme-color-500,
    @activity-agency-default-index-25: --color-text-gray-200,
    @activity-agency-default-index-26: --color-bg-200,
  ) {
    .claimHistory,
    .copy,
    .more {
      --color: var(@activity-agency-default-index-01);
    }

    .copy .icon {
      color: var(@activity-agency-default-index-02);
    }

    .claim {
      --background: var(@activity-agency-default-index-03);
      --background-hover: var(@activity-agency-default-index-04);
      --background-activated: var(@activity-agency-default-index-05);
      --background-focused: var(@activity-agency-default-index-06);
      --color: white;
    }

    .activity-share-box {
      background: var(@activity-agency-default-index-07);
      .activity-agent1 {
        color: var(@activity-agency-default-index-08);
      }
    
      .activity-agent2 {
        color: var(@activity-agency-default-index-09);
      }
    
      .activity-agent45 {
        color: var(@activity-agency-default-index-10);
      }
    
      .activity-agent8 {
        color: var(@activity-agency-default-index-11);
      }
    
      .activity-reward {
        color: var(@activity-agency-default-index-12);
      }
    }

    .activity-agent7 {
      color: var(@activity-agency-default-index-13);
    }

    .reward-box {
      background: var(@activity-agency-default-index-14);
      .arrow_icon {
        color: var(@activity-agency-default-index-15);
      }
    
      .i8n-box {
        color: var(@activity-agency-default-index-16);
      }
    }

    .agency-headcount {
      background: var(@activity-agency-default-index-17);
      .activity-agent1011 {
        color: var(@activity-agency-default-index-18);
      }
    
      .headcount-userCount {
        color: var(@activity-agency-default-index-19);
      }
    
      .headcount-ZRewardType {
        color: var(@activity-agency-default-index-20); 
      }
    }

    .validCondition {
      background: var(@activity-agency-default-index-21);
      .validCondition-ZValidCondition {
        color: var(@activity-agency-default-index-22);
      }
    
      .validCondition-text-second {
        color: var(@activity-agency-default-index-23);
      }
    
      .validCondition-text-value {
        color: var(@activity-agency-default-index-24);
      }
    }

    .agency-description {
      color: var(@activity-agency-default-index-25);
      background: var(@activity-agency-default-index-26);
    }

    ion-item {
      --border-color: var(--color-line);
    } 
  }
}
