html {
  #tabbar-tabs-inicio-components-MarqueeView-components-iconButton-1-index();
}




#tabbar-tabs-inicio-components-MarqueeView-components-iconButton-1-index {
  .layout(
    @line-color: var(--ep-color-border-default);
    @bg: var(--ep-color-background-fill-surface-raised-L2);
    @icon-color: var(--ep-color-icon-default);
  ) {
    .icon-btn {
      --border-style: solid;
      --border-width: 0.0625rem;
      --border-color: @line-color;
      --background: @bg;
      --color: @icon-color;
    }
  }

  .layout();
}