#activity-vip-default-index {
  .style(
    @vip-default-index-01: --color-bg-100,
    @vip-default-index-02: --theme-color-gradient-200,
    @vip-default-index-03: --color-text-white-100,
    @vip-default-index-04: --color-btn-gradient-claimUnable,
    @vip-default-index-05: --color-text-white-100,
    @vip-default-index-06: --theme-color-gradient-200,
    @vip-default-index-07: --color-text-white-100,
    @vip-default-index-08: --color-btn-gradient-claimUnable,
    @vip-default-index-09: --color-text-white-100,
    @vip-default-index-10: --theme-color-gradient-400,
    @vip-default-index-11: --color-border,
    @vip-default-index-12: --color-text-white-100,
    @vip-default-index-13: --accent-color-yellow,
    @vip-default-index-14: --color-bg-200,
    @vip-default-index-15: --theme-color-gradient-400,
    @vip-default-index-16: --color-text-gray-200,
    @vip-default-index-17: --color-text-white-100,
    @vip-default-index-18: --theme-color-gradient-100,
    @vip-default-index-19: --color-border,
    @vip-default-index-20: --color-border,
    @vip-default-index-21: --color-bg-200,
    @vip-default-index-22: --color-text-gray-300,
    @vip-default-index-23: --color-text-gray-200,
    @vip-default-index-24: --accent-color-yellow,
    @vip-default-index-25: --color-text-gray-200,
    @vip-default-index-26: --color-text-white-100,
    @vip-default-index-27: --color-text-gray-200,
    @vip-default-index-28: --color-text-white-100,
    @vip-default-index-29: --color-text-white-100,
    @vip-default-index-30: --color-text-white-100,
    @vip-default-index-31: --color-text-white-100,
    @vip-default-index-32: --color-bg-200,
    @vip-default-index-33: --color-text-gray-200,
    @vip-default-index-34: --color-bg-200,
    @vip-default-index-35: --color-bg-300,
    @vip-default-index-36: --color-bg-400,
    @vip-default-index-37: --color-text-gray-200,
    @vip-default-index-38: --color-text-white-100,
    @vip-default-index-39: --accent-color-yellow,
    @vip-default-index-40: --color-text-gray-200,
    @vip-default-index-41: --color-bg-200,
    @vip-default-index-42: --color-border,
    @vip-default-index-43: --color-bg-100,
    @vip-default-index-44: --color-text-gray-200,
    @vip-default-index-45: --color-bg-100,
    @vip-default-index-46: null,
    @vip-default-index-47: null,
    @vip-default-index-48: --color-text-second,

  ) {
    .card-bg-gradient {
      position: relative;
      background: var(@vip-default-index-01);
    }
    
    .claimButtonEnabled {
      background: var(@vip-default-index-02);
      color: var(@vip-default-index-03);
    }
    
    .claimButtonDisabled {
      background: var(@vip-default-index-04);
      color: var(@vip-default-index-05);
    }
    
    .claimRecordButton {
      background: var(@vip-default-index-06);
      color: var(@vip-default-index-07);
    }
    
    .claimRecordButtonDisabled {
      background: var(@vip-default-index-08);
      color: var(@vip-default-index-09);
    }
    
    .historyButton{
      background: var(@vip-default-index-10);
      color: var(@vip-default-index-46);
    }
    
    table th {
      border: 1px solid var(@vip-default-index-11); /* 设置边框 */
      font-weight: normal;
    }
    
    table thead th {
      color: var(@vip-default-index-12);
    }
    
    table tbody th {
      color: var(@vip-default-index-13)
    }
    
    ion-progress-bar {
      --background: var(@vip-default-index-14);
      --progress-background: var(@vip-default-index-15);
      border-radius: 1rem;
    }
    
    ion-segment-button {
      --color: var(@vip-default-index-16);
      --color-checked: var(@vip-default-index-17);
      --indicator-color: var(@vip-default-index-18);
      text-transform: none;
    }
    
    ion-segment {
      border-bottom: 1px solid var(@vip-default-index-19);
    }
    
    .claim-button {
      border-top: 0.5px solid var(@vip-default-index-20);
    }
    
    .vip-box-bg {
      background: var(@vip-default-index-21);
    
      .next-level-base-color {
        color: var(@vip-default-index-22);
    
        .vip42-color {
          color: var(@vip-default-index-23);
        }
        
        .next-level-color {
          color: var(@vip-default-index-24);
        }
        
        .vip43-color {
          color: var(@vip-default-index-25);
        }
        
        .vip-recharge-need {
          color: var(@vip-default-index-26);
        }
        
        .vip44-color {
          color: var(@vip-default-index-27);
        }
        
        .vip-bet-need {
          color: var(@vip-default-index-28);
        }
      }
    
      .vip-max-level {
        color: var(@vip-default-index-29);
      }
    
      .vip3-color {
        color: var(@vip-default-index-30);
      }
    
      .vip1-color {
        color: #FFF;
        background: #FE5353;
      }
    }
    
    .vip4-color {
      color: var(@vip-default-index-31);
    }
    
    .vip-sticky {
      background: var(@vip-default-index-32);
    
    }
    .vip-list-title {
      color: var(@vip-default-index-33);
      background: var(@vip-default-index-47);
    }
    
    .vip-ion-list {
      background: var(@vip-default-index-34);
      .vip-item-odd {              // 偶数行
        background: var(@vip-default-index-35);
      }
      .vip-item-even {             // 奇数行
        background: var(@vip-default-index-36);
      }
    }
    
    .vip-progress-requirement {
      color: var(@vip-default-index-37);
    }
    
    .vip-progress-value {
      color: var(@vip-default-index-38);
    }
    
    .vip-progress-reward {
      color: var(@vip-default-index-39);
    }
    
    .keep-level-box {
      color: var(@vip-default-index-40);
      background: var(@vip-default-index-41);
      .keep-level-table-border {
        border: 1px solid var(@vip-default-index-42);
      }
      
      .keep-level-table-thead {
        background: var(@vip-default-index-43);
      }
    }
    
    .vip-introduce {
      color: var(@vip-default-index-44);
    }
    
    .vip-claim-box {
      background: var(@vip-default-index-45);
    }
    .scrollable-container {
      background: var(--color-bg-300);
    }

    .vipRule {
      color: var(@vip-default-index-48);
    }
  }
}
