#mlmAgent-components-invitationRules-index {
  .style(
    @mlmAgent-components-invitationRules-index-01: --mlm-toolbar-bg-color;
    @mlmAgent-components-invitationRules-index-02: --color-text-40;
    @mlmAgent-components-invitationRules-index-03: --mlm-rules-content-text-color;
    @mlmAgent-components-invitationRules-index-04: --mlm-agent-level-item-bgc;
    @mlmAgent-components-invitationRules-index-05: --mlm-agent-rule-item-count-textc;
  ) {
    ion-toolbar {
      --background: var(@mlmAgent-components-invitationRules-index-01);
    }

    .rule-main {
      color: var(@mlmAgent-components-invitationRules-index-02);
    }

    .rule-item,
    .custom-item {
      color: var(@mlmAgent-components-invitationRules-index-03);
      background-color: var(@mlmAgent-components-invitationRules-index-04);
    }

    .item-count {
      color: var(@mlmAgent-components-invitationRules-index-05);
    }
  }
}
