.person {
  height: 100%;
  display: flex;
  flex-direction: column;
  .top{
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    .select-scroll {
      display: flex;
      padding-left: 1rem;
      padding-right: 1rem;
      overflow-x: auto;
      font-size: 0.75rem;
      line-height: 1rem;
    }
    .filter {
      min-width: fit-content;
      margin-right: 0.625rem;
      border-radius: 0.625rem;
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      padding-left: 0.5rem;
      padding-right: 0.25rem;
      .typeName{
          display: flex;
          align-items: center;
          margin-right: 0.5rem;
          ion-spinner {
            width: 1rem;
            height: 1rem;
            margin-inline-end: 0.125rem !important;
          }
        }
    }
    #personal-trigger{
      width: 100%;
      background: white;
    }
  }
  .list{
    flex: 1;
    .item {
      padding: 0.625rem;
      margin-bottom: 0.625rem;
      border-radius: 0.375rem;
      .num{
        display: flex;
        justify-content: space-between;
        font-size: 0.875rem;
        margin-bottom: 0.375rem;
        line-height: 1.25rem;
          p.red {
           color: #EE4639;
          }
          p.green {
           color: #27D48B;
          }
      }
      .num p:last-child{
        display: flex;
        align-items: center;
      }
      .num.last{
        margin-bottom: 0;
      }
      .recond-minor-color{
        display: flex;
        justify-content: space-between;
        font-size: 0.75rem;
        line-height: 1rem;
        .copy{
          display: flex;
          align-items: center;
          p {
            width: 10rem; 
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            text-align: right;
          }
          ion-icon {
            margin-left: 0.375rem;
            font-size: 1.25rem;
          }
        }
      }
    }
    .empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      .empty-bg-img{
        width: 7.5rem;
        height: 7.5rem;
      }
      ion-label {
        color: #92949c;
      }
    }
  }
}
ion-select {
  --padding-start: 0.875rem;
  --padding-end: 0.625rem;
  --border-color: white;
  --border-radius: 0.625rem;
  --border-width: 0.0625rem;
  min-height: 1.625rem;
}

ion-content {
  --padding-start: 1rem;
  --padding-end: 1rem;
}

div.select-scroll::-webkit-scrollbar {
  display: none;
}

:global(ion-radio::part(label)) {
  /* 下拉选项文本样式 */
  margin-inline: 0;
}

:global(ion-radio::part(container)) {
  /* 下拉选项后置内容样式 */
  width: 0;
}

ion-row.footer-count {
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.625rem;
  span.red {
   color: #EE4639;
  }
  span.green {
   color: #27D48B;
  }
}
ion-row.footer-count div:nth-child(2){
  margin-top: 0.625rem ;
}
ion-row.footer-count div:nth-child(3){
  margin-top: 0.625rem ;
}
ion-infinite-scroll-content {
  min-height: 0.625rem; /* 修改最小高度 */
}

ion-popover {
  --backdrop-opacity: 0;
}

ion-popover ion-button {
  margin-top: 0;
  margin-bottom: 0;
}

ion-popover ion-button::part(native) {
  --padding-start: 0.375rem;
  --padding-end: 0.375rem;
  --padding-top: 0;
  --padding-bottom: 0;
}

ion-icon {
  transition: transform 0.1s linear;
}

ion-icon.on {
  transform: rotate(180deg);
}

ion-popover ion-row ion-col p.off {
border-width: 0.0625rem;
}
.content-flex {
  display: flex;
  justify-content: space-between;
}
ion-col.select-col {
  line-height: 0.75rem;
  padding: 0 0.3125rem 0.3125rem 0;
}
ion-col.select-col:nth-child(4),
ion-col.select-col:nth-child(4n) {
  padding: 0 0 0.3125rem 0;
}
ion-col.lang-col {
  font-size: 0.5rem;
}

ion-icon.report-select-icon {
  width: 1rem;
  height: 1rem;
}

.report-select-row {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 0.75rem;
  text-align: center;
  .select-col {
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.5rem;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      border-radius: 0.375rem;
    }
  }
}
