ion-toolbar {
  --min-height: 3.125rem;
}

ion-button::part(native) {
  width: 22.5rem;
  height: 2.5rem;
  border-radius: 0.625rem;
}

ion-input {
  --border-width: 0px;
  font-size: 0.875rem;
}

.redemption {
  font-size: 0.875rem;
  min-height: 2.5rem;
}
